### df_all

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_testing = pd.read_csv('../Tbrain_Insurance/testing-set.csv')
#df_all = pd.read_csv('../Tbrain_Insurance/df_all.csv')
df_all = pd.read_csv('../Tbrain_Insurance/df_policy_claim_unuique.csv')

In [64]:
df_all.shape

(351273, 699)

In [4]:
# replace target: 
replace_date = {'09/2658','10/2622','02/2611','11/2602', '10/2582', '10/2581', '04/2579', '08/2569', '10/2521',
 '11/2512', '01/2512', '10/2472','08/2471', '11/2464', '03/2464', '12/2453', '01/2442', '07/2280', '02/2152'}
print(len(replace_date))
replace_date_set = set(replace_date)
print(len(replace_date_set))

## convert to datetime formate
date_cols = ['DOB_of_Driver','Accident_Date','Accident_Time','ibirth', 'dbirth_new']


for input1 in replace_date_set:
    df_all[date_cols] = df_all[date_cols].replace(input1, pd.to_datetime('01/2017', format ='%m/%Y'))
df_all.info()

19
19
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351273 entries, 0 to 351272
Columns: 704 entries, Policy_Number to 2CSD3meanIO
dtypes: float64(557), int64(141), object(6)
memory usage: 1.8+ GB

In [5]:
## fill datetime value for date_cols 
df_all[date_cols] = df_all[date_cols].fillna(pd.to_datetime('01/2017', format ='%m/%Y'))
df_all[date_cols].head()

,DOB_of_Driver,Accident_Date,Accident_Time,ibirth,dbirth_new
0,2017-01-01 00:00:00,2017-01-01 00:00:00,2017-01-01 00:00:00,1980-11-01,1980-11-01
1,2017-01-01 00:00:00,2017-01-01 00:00:00,2017-01-01 00:00:00,1956-11-01,1982-03-01
2,2017-01-01 00:00:00,2017-01-01 00:00:00,2017-01-01 00:00:00,1954-03-01,1954-03-01
3,2017-01-01 00:00:00,2017-01-01 00:00:00,2017-01-01 00:00:00,1978-09-01,1978-09-01
4,2017-01-01 00:00:00,2017-01-01 00:00:00,2017-01-01 00:00:00,1960-10-01,1960-10-01

In [6]:
## convert to datetime formate
date_cols = ['DOB_of_Driver','Accident_Date','Accident_Time','ibirth', 'dbirth_new']

df = df_all

date_col=['ibirth', 'dbirth_new']
for col in date_col:
    df[col] =  pd.to_datetime(df[col], format='%Y-%m-%d', errors='ignore')  #'%Y-%m-%d %H:%M:%S'   #errors='coerce'


    
date_col=['DOB_of_Driver', 'ibirth', 'dbirth_new']
for col in date_col:
    df[col] =  pd.to_datetime(df[col], format='%m/%Y', errors='ignore')  #'%Y-%m-%d %H:%M:%S'   #errors='coerce'

date_col=['Accident_Date']
for col in date_col:
    df[col] =  pd.to_datetime(df[col], format='%Y/%m', errors='ignore')  #'%Y-%m-%d %H:%M:%S'   #errors='coerce'

date_col=['Accident_Time']
for col in date_col:
    df[col] =  pd.to_datetime(df[col], format='%H:%M', errors='ignore')  #'%Y-%m-%d %H:%M:%S'   #errors='coerce'

df[date_cols].info(verbose= True)
df_all = df

df.info()
df = df.drop(date_cols, axis =1)
df_all = df
df_all.isnull().sum().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351273 entries, 0 to 351272
Data columns (total 5 columns):
DOB_of_Driver    351273 non-null datetime64[ns]
Accident_Date    351273 non-null datetime64[ns]
Accident_Time    351273 non-null datetime64[ns]
ibirth           351273 non-null datetime64[ns]
dbirth_new       351273 non-null datetime64[ns]
dtypes: datetime64[ns](5)
memory usage: 13.4 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351273 entries, 0 to 351272
Columns: 704 entries, Policy_Number to 2CSD3meanIO
dtypes: datetime64[ns](5), float64(557), int64(141), object(1)
memory usage: 1.8+ GB

152685742

In [7]:
df_all = df_all.fillna(0)
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351273 entries, 0 to 351272
Columns: 699 entries, Policy_Number to 2CSD3meanIO
dtypes: float64(557), int64(141), object(1)
memory usage: 1.8+ GB

In [ ]:
# Nature
df1 = df_all[(df_all['fsex_1']==1)|(df_all['fsex_2']==1)]

df_train1 = df1[df1['Next_Premium']!=100]
print(df_train1.shape)
df_test1 = df1[df1['Next_Premium']==100]
print(df_test1.shape)
print(df_train1.shape[0]+df_test1.shape[0])
print(df1.shape[0])

# Juridical
df2 = df_all[(df_all['fsex_ ']==1)]
df2 = df2.drop(['i_age', 'd_age'], axis=1)    ######

df_train2 = df2[df2['Next_Premium']!=100]
print(df_train2.shape)
df_test2 = df2[df2['Next_Premium']==100]
print(df_test2.shape)
print(df_train2.shape[0]+df_test2.shape[0])
print(df2.shape[0])

In [14]:
# ### Optional 
# # downsampling
# df_train = df_train.sample(10000).reset_index()
# df_train = df_train[df_train.columns[1:]]
# df_train.head()
# # df_test = df_test.sample (1400).reset_index()

In [15]:
df_train1['Next_Premium'] = df_train1.apply(lambda row: 0 if row['Next_Premium']==0 else 1, axis =1)
df_train2['Next_Premium'] = df_train2.apply(lambda row: 0 if row['Next_Premium']==0 else 1, axis =1)

/Users/ching/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/ching/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
y1=df_train1['Next_Premium']
print('continue',df_train1[df_train1['Next_Premium']==1].shape[0]/df_train1.shape[0]*100)
print('cancelled',df_train1[df_train1['Next_Premium']==0].shape[0]/df_train1.shape[0]*100)
y1.head()

continue 78.04070664913384
cancelled 21.95929335086616

0    1
1    1
2    1
3    1
4    1
Name: Next_Premium, dtype: int64

In [17]:
y2 = df_train2['Next_Premium']
print('continue',df_train2[df_train2['Next_Premium']==1].shape[0]/df_train2.shape[0]*100)
print('cancelled',df_train2[df_train2['Next_Premium']==0].shape[0]/df_train2.shape[0]*100)
y2.head()

continue 78.24170920146153
cancelled 21.758290798538475

34     1
44     1
47     1
65     0
115    1
Name: Next_Premium, dtype: int64

In [18]:
train_ID1 = df_train1['Policy_Number']
df_train1 = df_train1.drop(['Policy_Number'], axis=1)
print(df_train1.shape)
print(train_ID1.shape)

train_ID2 = df_train2['Policy_Number']
df_train2 = df_train2.drop(['Policy_Number'], axis=1)
print(df_train2.shape)
print(train_ID2.shape)

(174910, 698)
(174910,)
(35853, 696)
(35853,)

In [19]:
df_test1=df_test1.drop(['Next_Premium'], axis=1)
print(df_test1.shape)
df_test2=df_test2.drop(['Next_Premium'], axis=1)
print(df_test2.shape)

(120048, 698)
(20462, 696)

In [20]:
test_ID1=df_test1['Policy_Number']
df_test1=df_test1.drop(['Policy_Number'], axis=1)
print(df_test1.shape)
print(test_ID1.shape)

test_ID2=df_test2['Policy_Number']
df_test2=df_test2.drop(['Policy_Number'], axis=1)
print(df_test2.shape)
print(test_ID2.shape)

(120048, 697)
(120048,)
(20462, 695)
(20462,)

## Reduce Dimension

In [21]:
train1 = df_train1.drop(['Next_Premium'], axis=1)
test1 = df_test1
y_train1 = y1

train2 = df_train2.drop(['Next_Premium'], axis=1)
test2 = df_test2
y_train2 = y2

In [22]:
print(train1.shape)
print(test1.shape)
print(y1.shape)

print(train2.shape)
print(test2.shape)
print(y2.shape)

(174910, 697)
(120048, 697)
(174910,)
(35853, 695)
(20462, 695)
(35853,)

In [23]:
# import matplotlib.pyplot as plt
 
# ## standarlization
# from sklearn.preprocessing import StandardScaler
# stdsc = StandardScaler()
# train_std = stdsc.fit_transform(train)
# test_std = stdsc.fit_transform(test)
 
# X_std = train_std

#     #求共變異係數矩陣
# cov_mat = np.cov(X_std.T)
# print("共變異係數矩陣.shape=",cov_mat.shape)

 
# #求共變異係數矩陣 的特徵向量及特徵值
# eigen_vals, eigen_vecs = np.linalg.eig(cov_mat)
# print("特徵向量.shape=",eigen_vecs.shape)

 
# #計算解釋變異數比率 各特徵值/特徵值總和
# tot = sum(eigen_vals)
# var_exp = [(i / tot) for i in sorted(eigen_vals, reverse=True)]
# cum_var_exp = np.cumsum(var_exp)

# # Make a list of (eigenvalue, eigenvector) tuples
# eigen_pairs = [(np.abs(eigen_vals[i]), eigen_vecs[:, i])
#                for i in range(len(eigen_vals))]

# print("特徵值，特徵向量length：",len(eigen_pairs))
# eigen_pairs.sort(key=lambda k: k[0], reverse=True)

# #保留兩個最具影響力的特徵向量組成13x2 的投影矩陣W
# w = np.hstack((eigen_pairs[0][1][:, np.newaxis],
#                eigen_pairs[1][1][:, np.newaxis]))

# train_pca = X_std.dot(w)
# ###################################

# X_std = test_std

#     #求共變異係數矩陣
# cov_mat = np.cov(X_std.T)
# print("共變異係數矩陣.shape=",cov_mat.shape)

 
# #求共變異係數矩陣 的特徵向量及特徵值
# eigen_vals, eigen_vecs = np.linalg.eig(cov_mat)
# print("特徵向量.shape=",eigen_vecs.shape)

 
# #計算解釋變異數比率 各特徵值/特徵值總和
# tot = sum(eigen_vals)
# var_exp = [(i / tot) for i in sorted(eigen_vals, reverse=True)]
# cum_var_exp = np.cumsum(var_exp)

# # Make a list of (eigenvalue, eigenvector) tuples
# eigen_pairs = [(np.abs(eigen_vals[i]), eigen_vecs[:, i])
#                for i in range(len(eigen_vals))]

# print("特徵值，特徵向量length：",len(eigen_pairs))
# eigen_pairs.sort(key=lambda k: k[0], reverse=True)

# #保留兩個最具影響力的特徵向量組成13x2 的投影矩陣W
# w = np.hstack((eigen_pairs[0][1][:, np.newaxis],
#                eigen_pairs[1][1][:, np.newaxis]))

# test_pca = X_std.dot(w)

In [24]:
# train = train_pca
# test = test_pca
# y_train = y

### Modelling

In [25]:
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.exceptions import ConvergenceWarning
import xgboost as xgb
import lightgbm as lgb

import warnings
warnings.filterwarnings(action='ignore', category=ConvergenceWarning)

In [26]:
#Validation function
n_folds = 5

def mae_cv1(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(train1.values)
    mae= (-cross_val_score(model, train1.values, y_train1.values, scoring="neg_mean_absolute_error", cv = kf))
    return(mae)

def mae_cv2(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(train2.values)
    mae= (-cross_val_score(model, train2.values, y_train2.values, scoring="neg_mean_absolute_error", cv = kf))
    return(mae)

In [27]:
# Base models

In [28]:
# # LASSO Regression :
# # This model may be very sensitive to outliers. So we need to made it more robust on them. For that we use the sklearn's Robustscaler() method on pipeline :
# lasso = make_pipeline(RobustScaler(), Lasso(alpha = 2, random_state=1))
# print("lasso mae: \n", mae)
# print("lasso score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [29]:
# # Elastic Net Regression :
# # again made robust to outliers:
# #l1_list = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
# ENet = make_pipeline(RobustScaler(), ElasticNet(alpha=2, l1_ratio=1, random_state=3))
# mae = mae_cv(ENet)
# print("ENet mae: \n", mae)
# print("ENet score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [30]:
# #Kernel Ridge Regression :
# Kernel_list = ['linear','rbf','sigmoid','poly','laplacian','cosine','chi2']
# alpha_list = [0, 0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1]

# KRR = KernelRidge(alpha = 0.02, kernel = 'cosine', degree = 0) 
# # mae = mae_cv(KRR)
# # print("KRR mae: \n", mae)
# # print("KRR score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [31]:
# # With huber loss that makes it robust to outliers:
# GBoost = GradientBoostingRegressor()
# # mae = mae_cv(GBoost)
# # print("GBoost mae: \n", mae)
# # print("GBoost score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [32]:
# # Averaged base models class
# class AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):
#     def __init__(self, models):
#         self.models = models
        
#     # we define clones of the original models to fit the data in
#     def fit(self, X, y):
#         self.models_ = [clone(x) for x in self.models]
        
#         # Train cloned base models
#         for model in self.models_:
#             model.fit(X, y)

#         return self
    
#     #Now we do the predictions for cloned models and average them
#     def predict(self, X):
#         predictions = np.column_stack([
#             model.predict(X) for model in self.models_
#         ])
#         return np.mean(predictions, axis=1)

In [33]:
## mae Score

In [34]:
# mae = mae_cv(lasso)
# mae_lasso = mae 
# print("lasso mae: \n", mae)
# print("lasso score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [35]:
# mae = mae_cv(ENet)
# mae_ENet = mae
# print("ENet mae: \n", mae)
# print("ENet score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [36]:
# mae = (mae_cv(KRR))
# mae_KRR = mae
# print("KRR mae: \n", mae)
# print("KRR score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [37]:
# mae = mae_cv(GBoost)
# mae_GBoost = mae
# print("GBoost mae: \n", mae)
# print("GBoost score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [38]:
# # Averaged base models score
# averaged_models = AveragingModels(models = (lasso, ENet, GBoost))

In [39]:
# mae = mae_cv(averaged_models)
# mae_Avg = mae
# print(" Averaged base models: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [40]:
# #Meta-Model
# #Stacking averaged Models Class:
# class StackingAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
#     def __init__(self, base_models, meta_model, n_folds=5):
#         self.base_models = base_models
#         self.meta_model = meta_model
#         self.n_folds = n_folds
   
#     # We again fit the data on clones of the original models
#     def fit(self, X, y):
#         self.base_models_ = [list() for x in self.base_models]
#         self.meta_model_ = clone(self.meta_model)
#         kfold = KFold(n_splits=self.n_folds, shuffle=True, random_state=156)
        
#         # Train cloned base models then create out-of-fold predictions
#         # that are needed to train the cloned meta-model
#         out_of_fold_predictions = np.zeros((X.shape[0], len(self.base_models)))
#         for i, model in enumerate(self.base_models):
#             for train_index, holdout_index in kfold.split(X, y):
#                 instance = clone(model)
#                 self.base_models_[i].append(instance)
#                 instance.fit(X[train_index], y[train_index])
#                 y_pred = instance.predict(X[holdout_index])
#                 out_of_fold_predictions[holdout_index, i] = y_pred
                
#         # Now train the cloned  meta-model using the out-of-fold predictions as new feature
#         self.meta_model_.fit(out_of_fold_predictions, y)
#         return self
   
#     #Do the predictions of all base models on the test data and use the averaged predictions as 
#     #meta-features for the final prediction which is done by the meta-model
#     def predict(self, X):
#         meta_features = np.column_stack([
#             np.column_stack([model.predict(X) for model in base_models]).mean(axis=1)
#             for base_models in self.base_models_ ])
#         return self.meta_model_.predict(meta_features)

In [41]:
def mae_1(y1, y_pred1):
    return mean_absolute_error(y1,y_pred1)
def mae_2(y2, y_pred2):
    return mean_absolute_error(y2,y_pred2)

In [42]:
# # Stacking Averaged models Score

# stacked_averaged_models = StackingAveragedModels(base_models = (ENet, lasso, GBoost),  #ENet, lasso, KRR
#                                                  meta_model = GBoost) #GBoost

# mae = mae_cv(stacked_averaged_models)
# mae_stacked_avg = mae
# print("Stacking Averaged models score: {:.4f} ({:.4f})".format(mae.mean(), mae.std()))

In [43]:
# more models

In [44]:
# lgb.LGBMClassifier?

In [45]:
# LGBM :
model_lgb = lgb.LGBMClassifier()
mae1 = mae_cv1(model_lgb)
mae_lgb1 = mae1
print("lgb mae1: \n", mae1)
print("lgb score1: {:.4f} ({:.4f})\n".format(mae1.mean(), mae1.std()))

mae2 = mae_cv2(model_lgb)
mae_lgb2 = mae2
print("lgb mae2: \n", mae2)
print("lgb score2: {:.4f} ({:.4f})\n".format(mae2.mean(), mae2.std()))

lgb mae1:
 [ 0.1759426   0.18166486  0.19524327  0.2100223   0.17163603]
lgb score1: 0.1869 (0.0140)

lgb mae2:
 [ 0.15476854  0.16092595  0.16401674  0.1748954   0.16582985]
lgb score2: 0.1641 (0.0066)

In [46]:
model = model_lgb  #

# Nature
model.fit(train1, y_train1)
train_pred_lgb1 = model.predict(train1)

y_pred_lgb1 = model.predict(test1)  #

importances1 = model.feature_importances_
# std = np.std([tree.feature_importances_ for tree in model.estimators_], axis=0)
indices1 = np.argsort(importances1)[::-1]

# Print the feature ranking
print("Feature ranking1:")

for f in range(15):   # train.shape[1]
    print("%d. feature %d.: %str (%2f)" % (f + 1, indices1[f], train1.columns[indices1[f]], importances1[indices1[f]]*100))

# Juridical  
model.fit(train2, y_train2)
train_pred_lgb2 = model.predict(train2)

y_pred_lgb2 = model.predict(test2)  #

importances2 = model.feature_importances_
# std = np.std([tree.feature_importances_ for tree in model.estimators_], axis=0)
indices2 = np.argsort(importances2)[::-1]

# Print the feature ranking
print("Feature ranking2:")

for f in range(15):   # train.shape[1]
    print("%d. feature %d.: %str (%2f)" % (f + 1, indices2[f], train2.columns[indices2[f]], importances2[indices1[f]]*100))

Feature ranking1:
1. feature 19.: cont_ratiotr (24600.000000)
2. feature 18.: V_agetr (14200.000000)
3. feature 74.: i_agetr (12600.000000)
4. feature 1.: Engine_Displacement_(Cubic_Centimeter)tr (11600.000000)
5. feature 75.: d_agetr (11100.000000)
6. feature 186.: Insured_Amount3tr (9800.000000)
7. feature 183.: Premium_meantr (8700.000000)
8. feature 192.: P_R_pctAtr (8200.000000)
9. feature 3.: Replacement_cost_of_insured_vehicletr (7900.000000)
10. feature 195.: P_R_pctOtr (7400.000000)
11. feature 188.: I_P_ratio1tr (6500.000000)
12. feature 190.: I_P_ratio3tr (6300.000000)
13. feature 184.: Insured_Amount1tr (5500.000000)
14. feature 212.: Premium_stdtr (5200.000000)
15. feature 112.: Premiumtr (4900.000000)
Feature ranking2:
1. feature 19.: cont_ratiotr (16600.000000)
2. feature 1.: Engine_Displacement_(Cubic_Centimeter)tr (10400.000000)
3. feature 184.: Insured_Amount3tr (900.000000)
4. feature 18.: V_agetr (11200.000000)
5. feature 181.: Premium_meantr (1500.000000)
6. feature 15.: Policy_Number_Numtr (8300.000000)
7. feature 3.: Replacement_cost_of_insured_vehicletr (4400.000000)
8. feature 31.: Num_GroupA_onIIDtr (5500.000000)
9. feature 186.: I_P_ratio1tr (8900.000000)
10. feature 188.: I_P_ratio3tr (1800.000000)
11. feature 189.: I_P_ratioOtr (7900.000000)
12. feature 193.: P_R_pctOtr (6600.000000)
13. feature 190.: P_R_pctAtr (10800.000000)
14. feature 30.: Num_GroupB_onIIDtr (1100.000000)
15. feature 110.: Premiumtr (0.000000)

In [73]:
# XGBoost :
model_xgb = xgb.XGBClassifier() #n_estimators=200
mae1 = mae_cv1(model_xgb)
mae_xgb1 = mae1 
print("Xgboost mae1: \n", mae1)
print("Xgboost score1: {:.4f} ({:.4f})\n".format(mae1.mean(), mae1.std()))

mae2 = mae_cv2(model_xgb)
mae_xgb2 = mae2
print("Xgboost mae2: \n", mae2)
print("Xgboost score2: {:.4f} ({:.4f})\n".format(mae2.mean(), mae2.std()))

Xgboost mae1:
 [ 0.17597119  0.17620491  0.18346578  0.1846664   0.17203625]
Xgboost score1: 0.1785 (0.0048)

Xgboost mae2:
 [ 0.15128277  0.15897364  0.1651325   0.17503487  0.1665272 ]
Xgboost score2: 0.1634 (0.0079)

In [74]:

    
# Nature

model = model_xgb  #

model.fit(train1, y_train1)
train_pred_xgb1 = model.predict(train1)  #

y_pred_xgb1 = model.predict(test1)  #

importances1 = model.feature_importances_
# std = np.std([tree.feature_importances_ for tree in model.estimators_], axis=0)
indices1 = np.argsort(importances1)[::-1]

# Print the feature ranking
print("Feature ranking1:")

for f in range(7):   # train.shape[1]
    print("%d. feature %d.: %str (%2f)" % (f + 1, indices1[f], train1.columns[indices1[f]], importances1[indices1[f]]*100))

# Juridical

model = model_xgb  #

model.fit(train2, y_train2)
train_pred_xgb2 = model.predict(train2)  #

y_pred_xgb2 = model.predict(test2)  #

importances2 = model.feature_importances_
# std = np.std([tree.feature_importances_ for tree in model.estimators_], axis=0)
indices2 = np.argsort(importances2)[::-1]

# Print the feature ranking
print("Feature ranking2:")

for f in range(7):   # train.shape[1]
    print("%d. feature %d.: %str (%2f)" % (f + 1, indices2[f], train2.columns[indices2[f]], importances2[indices2[f]]*100))

Feature ranking1:
1. feature 19.: cont_ratiotr (15.820895)
2. feature 18.: V_agetr (6.567165)
3. feature 186.: Insured_Amount3tr (6.417911)
4. feature 0.: Cancellationtr (4.029851)
5. feature 75.: d_agetr (3.731343)
6. feature 190.: I_P_ratio3tr (3.432836)
7. feature 183.: Premium_meantr (3.134328)
Feature ranking2:
1. feature 19.: cont_ratiotr (11.363637)
2. feature 188.: I_P_ratio3tr (6.666667)
3. feature 18.: V_agetr (5.151515)
4. feature 192.: P_R_pctCtr (3.636364)
5. feature 31.: Num_GroupA_onIIDtr (3.636364)
6. feature 1.: Engine_Displacement_(Cubic_Centimeter)tr (3.484849)
7. feature 29.: Num_GroupC_onIIDtr (3.181818)

In [75]:
# # RF :
# model_rf = RandomForestRegressor(n_estimators=100)  # default n_estimators = 10
# mae1 = mae_cv1(model_rf)
# mae_rf1 = mae1
# print("RandomForest mae1: \n", mae1)
# print("\nRandomForest score1: {:.4f} ({:.4f})\n".format(mae1.mean(), mae1.std()))

# mae2 = mae_cv2(model_rf)
# mae_rf2 = mae2
# print("RandomForest mae2: \n", mae2)
# print("\nRandomForest score2: {:.4f} ({:.4f})\n".format(mae2.mean(), mae2.std()))

In [76]:
# model = model_rf  #

# model.fit(train1, y_train1)
# train_pred_rf1 = model.predict(train1)  #

# y_pred_rf1 = model.predict(test1)  #

# importances1 = model.feature_importances_
# #std = np.std([tree.feature_importances_ for tree in model_rf.estimators_], axis=0)
# indices1 = np.argsort(importances1)[::-1]

# # Print the feature ranking
# print("Feature ranking1:")

# for f in range(7):
#     print("%d. feature %d.: %str (%2f)" % (f + 1, indices1[f], train1.columns[indices1[f]], importances1[indices1[f]]*100))


# model.fit(train2, y_train2)
# train_pred_rf2 = model.predict(train2)  #

# y_pred_rf2 = model.predict(test2)  #

# importances2 = model.feature_importances_
# #std = np.std([tree.feature_importances_ for tree in model_rf.estimators_], axis=0)
# indices2 = np.argsort(importances2)[::-1]

# # Print the feature ranking
# print("Feature ranking2:")

# for f in range(7):
#     print("%d. feature %d.: %str (%2f)" % (f + 1, indices2[f], train2.columns[indices2[f]], importances2[indices2[f]]*100))

In [77]:
# mae_rf on train: 801.865598
# Feature ranking:
# 1. feature 166.: Premiumtr (29.192158)
# 2. feature 167.: Premium_Predtr (26.174226)
# 3. feature 258.: Premium_Pred_Addtr (8.405166)
# 4. feature 72.: Replacement_cost_of_insured_vehicletr (5.817675)
# 5. feature 71.: Engine_Displacement_(Cubic_Centimeter)tr (1.952259)
# 6. feature 242.: Insured_Amount1_meantr (1.222075)
# 7. feature 78.: aassured_ziptr (1.193084)

In [78]:
# # Final Training and Prediction: 
# stacked_averaged_models.fit(train.values, y_train.values)
# stacked_train_pred = stacked_averaged_models.predict(train.values)
# stacked_pred = stacked_averaged_models.predict(test.values)

# print(mae_(y_train, stacked_train_pred))

In [85]:
print(type(y_pred_lgb1))
print(type(y_pred_xgb1))
print(type(y_pred_lgb2))
print(type(y_pred_xgb2))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [89]:
l = 0.3
x = 0.7
r = 1 - l - x
# s = 1- l - x - r

# ensemble_train = stacked_train_pred * s + train_pred_lgb *l + train_pred_xgb* x + train_pred_rf * r
# ensemble_test = stacked_pred * s + y_pred_lgb * l + y_pred_xgb * x + y_pred_rf *r

ensemble_train1 =  train_pred_lgb1 *l + train_pred_xgb1* x 
ensemble_test1 =   y_pred_lgb1 * l + y_pred_xgb1 * x 

ensemble_train2 =  train_pred_lgb2 *l + train_pred_xgb2* x 
ensemble_test2 =   y_pred_lgb2 * l + y_pred_xgb2 * x

In [90]:
print('MAE score on train data 1:')  # 1844.5
print(mae_1(y_train1, ensemble_train1))

print('MAE score on train data 2:')  # 1844.5
print(mae_2(y_train2, ensemble_train2))

MAE score on train data 1:
0.174661826082
MAE score on train data 2:
0.15431623574

In [ ]:
## prep submission

In [86]:
# y_pred_stacked = pd.DataFrame(stacked_pred)
y_pred_lgb1 = pd.DataFrame(y_pred_lgb1)
y_pred_xgb1 = pd.DataFrame(y_pred_xgb1)
# y_pred_rf1 = pd.DataFrame(y_pred_rf1)

y_pred1 = pd.DataFrame(ensemble_test1)

all_y1 = pd.concat([y_pred1,y_pred_lgb1, y_pred_xgb1], axis=1)
all_y1.columns=['Final', 'lgb','xgb']
all_y1.to_csv('Cla_y1.csv')
all_y1.sample(10)

          Final  lgb  xgb
54791  0.916632    1    1
83383 -0.032263    0    0
993    0.852123    1    1
86628  0.899382    1    1
97794  0.877920    1    1
21719  0.906671    1    1
64825  0.897690    1    1
75855  0.844650    1    1
13602  0.850838    1    1
19513  0.839707    1    1

In [91]:
all_y1.describe()

               Final            lgb            xgb
count  120048.000000  120048.000000  120048.000000
mean        0.808587       0.918333       0.921598
std         0.205049       0.273858       0.268804
min        -0.301441       0.000000       0.000000
25%         0.826124       1.000000       1.000000
50%         0.871108       1.000000       1.000000
75%         0.901915       1.000000       1.000000
max         1.005352       1.000000       1.000000

In [88]:
# y_pred_stacked = pd.DataFrame(stacked_pred)
y_pred_lgb2 = pd.DataFrame(y_pred_lgb2)
y_pred_xgb2 = pd.DataFrame(y_pred_xgb2)
# y_pred_rf2 = pd.DataFrame(y_pred_rf2)

y_pred2 = pd.DataFrame(ensemble_test2)

all_y2 = pd.concat([y_pred2,y_pred_lgb2, y_pred_xgb2], axis=1)
all_y2.columns=['Final', 'lgb','xgb']
all_y2.to_csv('Cla_y2.csv')
all_y2.sample(10)

          Final  lgb  xgb
13874  0.868372    1    1
11623 -0.013823    0    0
16869  0.892704    1    1
18866  0.849875    1    1
6440   0.896326    1    1
4761   0.896449    1    1
11732  0.731526    1    1
13612  0.834855    1    1
17685  0.906346    1    1
6333   0.893066    1    1

In [92]:
all_y2.describe()

              Final           lgb           xgb
count  20462.000000  20462.000000  20462.000000
mean       0.814211      0.919558      0.930261
std        0.218937      0.271983      0.254713
min       -0.140649      0.000000      0.000000
25%        0.849356      1.000000      1.000000
50%        0.879100      1.000000      1.000000
75%        0.899558      1.000000      1.000000
max        0.997526      1.000000      1.000000

In [93]:
# Check Negative -> 0 
b = all_y1[all_y1['Final']<0].shape[0]
a = b/all_y1.shape[0]*100
print(("negative prediction1 (#): %2d"%b))
print("negative prediction1 (Percent): %2f"%a)

b = all_y2[all_y2['Final']<0].shape[0]
a = b/all_y2.shape[0]*100
print(("negative prediction2 (#): %2d"%b))
print("negative prediction2 (Percent): %2f"%a)

negative prediction1 (#): 1326
negative prediction1 (Percent): 1.104558
negative prediction2 (#): 419
negative prediction2 (Percent): 2.047698

In [ ]:
# condition1 = all_y['Final']<0
# all_y['Final'].loc[condition1] = 0
# all_y.describe()

In [94]:
print(df_testing.shape)
print(test_ID1.shape)
print(y_pred1.shape)
print(test_ID2.shape)
print(y_pred2.shape)

(140510, 2)
(120048,)
(120048, 1)
(20462,)
(20462, 1)

In [95]:
df1 = pd.DataFrame(test_ID1).reset_index()
# df1['Next_Premium'] = y_pred_lgb1
df1['Next_Premium'] = all_y1['xgb']     ##

df2 = pd.DataFrame(test_ID2).reset_index()
# df2['Next_Premium'] = y_pred_lgb2
df2['Next_Premium'] = all_y2['xgb']     ##

df = pd.concat([df1, df2], axis=0)
df_cla = df_testing.merge(df, how = 'left', on = 'Policy_Number', suffixes=('_x','_y'))
df_cla = df_cla.drop(['index','Next_Premium_x'], axis = 1)
df_cla.columns = df_testing.columns

df_cla.head()

                              Policy_Number  Next_Premium
0  55789b8f86893761c9aa9e7bf17938e737decc68             1
1  b6df13a3384528ba6339c52b4fff7c149de68011             1
2  e112d926103147bcdcb6dab201b736185a3e2520             0
3  aa346fa4b1931d1c7a55f8e1bca40b0927dd65ac             1
4  39c4d5daaa791676ec5559c9066d7e8e8dfc51d7             1

In [97]:
### import regression  df_y: 

df_y = pd.read_csv('../Tbrain_Insurance/testing-set_xgb.csv')
print(df_y.shape)
df_y.head()

(140510, 2)

                              Policy_Number  Next_Premium
0  55789b8f86893761c9aa9e7bf17938e737decc68   3058.740967
1  b6df13a3384528ba6339c52b4fff7c149de68011   1551.356567
2  e112d926103147bcdcb6dab201b736185a3e2520   1649.002808
3  aa346fa4b1931d1c7a55f8e1bca40b0927dd65ac   6763.020020
4  39c4d5daaa791676ec5559c9066d7e8e8dfc51d7   2588.228760

In [98]:
# merge df_reg & df_y

df_final = df_cla.merge(df_y, on = 'Policy_Number')
print(df_final.shape)
df_final.head()

(140510, 3)

                              Policy_Number  Next_Premium_x  Next_Premium_y
0  55789b8f86893761c9aa9e7bf17938e737decc68               1     3058.740967
1  b6df13a3384528ba6339c52b4fff7c149de68011               1     1551.356567
2  e112d926103147bcdcb6dab201b736185a3e2520               0     1649.002808
3  aa346fa4b1931d1c7a55f8e1bca40b0927dd65ac               1     6763.020020
4  39c4d5daaa791676ec5559c9066d7e8e8dfc51d7               1     2588.228760

In [99]:
df_final['Next_Premium'] = df_final.apply(lambda row: row['Next_Premium_y'] if row['Next_Premium_x']==1 else 0, axis = 1 )
df_final.head()

,Policy_Number,Next_Premium_x,Next_Premium_y,Next_Premium
0,55789b8f86893761c9aa9e7bf17938e737decc68,1,3058.740967,3058.740967
1,b6df13a3384528ba6339c52b4fff7c149de68011,1,1551.356567,1551.356567
2,e112d926103147bcdcb6dab201b736185a3e2520,0,1649.002808,0.000000
3,aa346fa4b1931d1c7a55f8e1bca40b0927dd65ac,1,6763.020020,6763.020020
4,39c4d5daaa791676ec5559c9066d7e8e8dfc51d7,1,2588.228760,2588.228760

In [100]:
df_final = df_final.drop(['Next_Premium_x', 'Next_Premium_y'], axis =1 )
df_final.to_csv('testing-set.csv',index = False) 
df_final.head()

                              Policy_Number  Next_Premium
0  55789b8f86893761c9aa9e7bf17938e737decc68   3058.740967
1  b6df13a3384528ba6339c52b4fff7c149de68011   1551.356567
2  e112d926103147bcdcb6dab201b736185a3e2520      0.000000
3  aa346fa4b1931d1c7a55f8e1bca40b0927dd65ac   6763.020020
4  39c4d5daaa791676ec5559c9066d7e8e8dfc51d7   2588.228760

In [101]:
df_final.describe()

        Next_Premium
count  140510.000000
mean     4420.648478
std      4911.002596
min         0.000000
25%      2117.625122
50%      3029.080933
75%      4910.342773
max    141590.484375