In [ ]:
import pandas as pd
import numpy as np
df_policy_raw = pd.read_csv('../Tbrain_Insurance/policy_claim/policy_0702.csv')
df_claim_raw = pd.read_csv('../Tbrain_Insurance/policy_claim/claim_0702.csv')
df_training_raw = pd.read_csv('../Tbrain_Insurance/training-set.csv')
df_testing_raw = pd.read_csv('../Tbrain_Insurance/testing-set.csv')

In [ ]:
df_policy = df_policy_raw 
df_claim = df_claim_raw 
df_training = df_training_raw
df_testing = df_testing_raw

## 0. Read Files

### policy

In [2]:
# df_policy = pd.read_csv('../Tbrain_Insurance/policy_claim/policy_0702.csv')

In [3]:
print(df_policy.shape) # 41 items  (1,747,942, 41)
print('unique:',df_policy['Policy_Number'].nunique()) #351,273 unique Policy Number
pd.set_option('display.max_columns', None)
df_policy.sample(10)

(1747942, 41)
unique: 351273

,Policy_Number,Insured's_ID,Prior_Policy_Number,Cancellation,Vehicle_identifier,Vehicle_Make_and_Model1,Vehicle_Make_and_Model2,Manafactured_Year_and_Month,Engine_Displacement_(Cubic_Centimeter),Imported_or_Domestic_Car,Coding_of_Vehicle_Branding_&_Type,qpt,fpt,Main_Insurance_Coverage_Group,Insurance_Coverage,Insured_Amount1,Insured_Amount2,Insured_Amount3,Coverage_Deductible_if_applied,Premium,Replacement_cost_of_insured_vehicle,Distribution_Channel,Multiple_Products_with_TmNewa_(Yes_or_No?),lia_class,plia_acc,pdmg_acc,fassured,ibirth,fsex,fmarriage,aassured_zip,iply_area,dbirth,fequipment1,fequipment2,fequipment3,fequipment4,fequipment5,fequipment6,fequipment9,nequipment9
1245072,e3d814ce8d02819df762fe1810161bef08e00c1d,N52378b33f7c0f3fad53657b9b6f68b243ebbed4a,61a81fa5e752e1fadd402a4e2e340d10dea4a9fe,,db5056a0675cd24aac4465089d17bdc03fa855ee,9e1816a8c2a63b7f96a82ce6487b2d43222750db,b8647bcf29b86ea090daee0492269888c96a61b5,2010,2000,10,cde89c7444ed8e6ed260732be6e78ba9eb3312c6,7.0,P,車損,08H,2500,0,75000,0,472,85.9,39005d92752d56310b3a357f42b57f304621689a,0.0,3,-0.10,-0.6,1,07/1975,2,1,22ef9733f34012fee57a30e23cfeaf3810f47298,98fbc42faedc02492397cb5962ea3a3ffc0a9243,07/1975,0,0,0,0,0,0,0,
842841,eff238811b250473ddf97007c5fcff874a8adc73,Bdc393f9faf7689132d2a51c56d011f5adcc00986,7bbecfd960fe4bc8149fd9f16011fd94733b37d7,,0a09efafe87a4706e89ff01b306a549550ea0ba9,a3fbc730b84d765d9618832bca787fe5e0dc3f39,594304f73c79570870a23575fb87201827f7c2f0,2014,2199,10,b9918cc0a88a6b6eeed40ee4ed0e0a29083fd501,5.0,P,竊盜,05N,0,0,976000,10,3241,122.0,39005d92752d56310b3a357f42b57f304621689a,0.0,3,-0.10,-0.2,1,03/1982,2,2,63b4f91cf8f3dcf5b300797302b9953cc8333368,761f22b2c1593d0bb87e0b606f990ba4974706de,03/1982,0,0,0,0,0,0,0,
1226705,31163a5623b1050818f1e44c826c8b38b7b12725,B5bcfdf7148d8ab570622a5531adb0c9f58770c59,7653dc2668b0e43c77bf19425734259831fe497d,,fc9af5409e73eb0b6146ba8c02709836e2413969,dfa36897d0d79626c26c3a60bbf710ce93f678ec,6d3aca9020fa7c33f55ca4c79fb1a5b1a1e60ace,2012,2000,30,91f3d5db9c148ff5ad6d5b61cd5f7724c84b5932,5.0,P,車責,29K,0,0,2000000,0,391,237.0,39005d92752d56310b3a357f42b57f304621689a,0.0,-1,-0.38,-0.6,1,12/1965,1,1,8980dc86c1e9ea324ec99f8b15a2e9a92d0a4d1e,761f22b2c1593d0bb87e0b606f990ba4974706de,12/1965,0,0,0,0,0,0,0,
335935,94dcc592ba04d48d5b7fd0118fc7824e8f3a4d10,Hc8af6af7dcba8b4899d7206bd2095f9657bc08e5,4694b0e44ddfe09e229a2b4b187937e03a1976c3,,33e4b43b689f9e0508167f29596b61dff70a1979,b8e02307bd669b391c5c5b62d5df78e724402062,73d201f7428dfd48412f460b2e951f5fd324209c,2014,1600,30,123661a2768f418053fe5d471135570cf0377c0e,5.0,P,竊盜,09@,0,0,692000,0,446,86.5,39005d92752d56310b3a357f42b57f304621689a,0.0,-1,-0.38,-0.2,1,03/1978,2,2,a609bb8ab05a0d13db9eb1d0d3b1383d1703c17d,bd307a3ec329e10a2cff8fb87480823da114f8f4,03/1978,0,0,0,0,0,0,0,
1001564,01edab55386e922616e321d6582d1e8d5568826f,L0c9f85b1721e81f6f397d59f26c11b1c965304ea,9862f55fa8ecdd962488859f7a33f5c3713f996a,,4c6024039378664ae91d4e22951fe1d6d96f023f,ad74db6c9586c8cd85b8150c119f157bf493e187,5dcaf19e7fe8982ebb6fffdd0dc1dbd2b4c598fb,2003,2000,30,57d8536b88284c3641eb86e6982eadd5627d592b,5.0,P,車責,14E,0,0,50000,0,304,223.0,39005d92752d56310b3a357f42b57f304621689a,0.0,4,0.00,0.0,1,01/1949,1,1,beba4d5d3ffb8fac7fe5ce87ac1eb2f75c4cd1a2,761f22b2c1593d0bb87e0b606f990ba4974706de,01/1949,0,0,0,0,0,0,0,
555924,785f86496e77680c103c0d3123a99b618682ecc9,20eeb0014fba8ccc7ed94bbe6018acc92e349f790,9f340f62655a47c095e684011841b696026d1864,,3465dbd443619f0527a1d6b0381629571574d498,e4ed10d7da92e47ea7e39542c929e0c10fb69c83,73544989fe4032bacd952e5f230c4acdf1a36ad8,2014,2500,50,8328a215bbadd01e4c36c81540ece82184d4f064,3.0,P,車責,29B,0,3000000,6000000,0,443,76.3,39005d92752d56310b3a357f42b57f304621689a,0.0,3,-0.10,-0.2,2,NaN,,,cd0613ba91fbab0c5af2827e308e487e267d28a0,fa35e192121eabf3dabf9f5ea6abdbcbc107ac3b,01/1983,0,0,0,0,0,0,0,
1664678,56803363027390e98bdfdbb9367fd5fb2a353951,Tb01d26fdd8808c3586829e42e61ad36c72181f37,5c475c655f065ca1e8522b25bed0cadba307f5b6,,92d16893d7835b447b297295091a548a38286b12,960d139497003852038c328303d92f423e6854c4,4f8c2eae034814544350455c393c5873ac6bf75c,2012,1198,10,e8c5c2a7eaed20b0756e23bdb907066ac55801fe,2.0,P,車責,12L,2000000,2000000,10500000,0,180,51.6,cc7533150432c2d0fe3dbb2b31308d4774bf63e0,0.0,-1,-0.38,-0.6,1,08/1957,1,1,2019219149608a3f188cafaabd3808aace3e3309,c66c65175fecc3103b3b587be9b5b230889c8628,08/1957,0,0,0,0,0,0,0,
1725531,4c54d9a020c4517b9723f74ebe5ff6da3910f79d,E88ab03ef2031826dd4b428e6fd6940a223b8f206,NaN,Y,066acc7ee4e96659c41663f7c13f209e11d0896c,38bcc8c221a9275d52db6d211e57d104b92fdf61,7fe3aec31f3668689219c6280d4ad66de186b3e5,2011,2400,30,d2994b7f0a816f716d30ddbcfa685e5ceaf1d439,5.0,P,車責,15O,0,0,2000000,1,945,222.0,39005d92752d56310b3a357f42b57f304621689a,0.0,-1,-0.38,-0.6,1,06/1966,1,1,425ac6a281919b17c4d550ebeb2a5a130e579c7f,c66c65175fecc3103b3b587be9b5b230889c8628,06/1966,0,0,0,0,0,0,0,
688601,4ec9adf0af52ffef6d41ab694f8a5729384fdf27,Xf7f210f976d3557a83b491d679377b233f620918,a59b4f5a5fbf8732e5226ef832fecc6413768fa3,,bdc8499828060887e92ffd89248f8ab6ab0a7832,3a5e741326cb42b7283e6865856d6faae3543d2f,23769658f19d2c035ec47fb2cf0dc59c72a7a438,2013,2600,30,b540ae98f2ebbf4e9d78bf7a9e0182d1431a6643,5.0,P,車責,29B,0,0,0,0,261,204.0,39005d92752d56310b3a357f42b57f304621689a,0.0,-1,-0.38,0.0,1,08/1977,2,1,914127d1002e9938e2e1ee54cd92fd8195a248b0,bd307a3ec329e10a2cff8fb87480823da114f8f4,08/1977,0,0,0,0,0,0,0,
29916,b1c6c5dcf092f383e8ed493c2884cb77f160810f,H7fd915d58eac7d347d549403923c7583ded15de0,76961be8c06630f3a4d648943c3694803ae1b35e,,e839cf793132f5cb5efb0fb069abd5a2aedba915,dda1b15cf567d2402a0d1249ee12e9e072bb3120,a6c53c999ed439cb1038c23dbb8d42010868f70b,2004,1998,10,8840f33c3d3e3b3e70305e4a7bbc856ecfabf96b,5.0,P,車責,16P,0,0,200000,0,687,74.9,39005d92752d56310b3a357f42b57f304621689a,1.0,-1,-0.38,-0.6,1,10/1966,2,2,851cd04fbcac9538616f1d147d7930db87b8750d,c1dfd96eea8cc2b62785275bca38ac261256e278,10/1966,0,0,0,0,0,0,0,

In [4]:
'''Policy_Number	保單號碼 Insured's_ID	被保險人代號(替代值) Prior_Policy_Number	前保單號 Cancellation	非繼承自前保單 
Vehicle_identifier	車牌號碼 Vehicle_Make_and_Model1	廠牌名稱一 Vehicle_Make_and_Model2	廠牌名稱二
Manafactured_Year_and_Month	製造年份 Engine_Displacement_(Cubic_Centimeter)	排氣量 Imported_or_Domestic_Car	車系代號
Coding_of_Vehicle_Branding_&_Type	廠牌車型代號
qpt	乘載數量 fpt	乘載單位 Main_Insurance_Coverage_Group	險種分類 Insurance_Coverage	險種代碼
Insured_Amount1	保額一 Insured_Amount2	保額二 Insured_Amount3	保額三
Coverage_Deductible_if_applied	自負額 Premium	簽單保費 Replacement_cost_of_insured_vehicle	重置成本
Distribution_Channel	主通路代號 Multiple_Products_with_TmNewa_(Yes_or_No?)	同一車主前一年度非車險保單件數
lia_class	車責本期級數 plia_acc	車責賠款係數 pdmg_acc	車體賠款係數 fassured	被保險人性質
ibirth	出生日期 fsex	性別 fmarriage	婚姻狀況 aassured_zip	郵遞區號
iply_area	承保地區代號(分公司) dbirth	要保人出生日期 fequipment1	配備-音響註記 fequipment2	配備-車箱註記 
fequipment3	配備-冷凍機組註記 fequipment4	配備-車框、車斗註記 fequipment5	配備-昇降系統註記 fequipment6	配備-電動車電池註記
fequipment9	配備-其他 nequipment9	配備-其他說明
'''
print(df_policy.columns)

Index(['Policy_Number', 'Insured's_ID', 'Prior_Policy_Number', 'Cancellation',
       'Vehicle_identifier', 'Vehicle_Make_and_Model1',
       'Vehicle_Make_and_Model2', 'Manafactured_Year_and_Month',
       'Engine_Displacement_(Cubic_Centimeter)', 'Imported_or_Domestic_Car',
       'Coding_of_Vehicle_Branding_&_Type', 'qpt', 'fpt',
       'Main_Insurance_Coverage_Group', 'Insurance_Coverage',
       'Insured_Amount1', 'Insured_Amount2', 'Insured_Amount3',
       'Coverage_Deductible_if_applied', 'Premium',
       'Replacement_cost_of_insured_vehicle', 'Distribution_Channel',
       'Multiple_Products_with_TmNewa_(Yes_or_No?)', 'lia_class', 'plia_acc',
       'pdmg_acc', 'fassured', 'ibirth', 'fsex', 'fmarriage', 'aassured_zip',
       'iply_area', 'dbirth', 'fequipment1', 'fequipment2', 'fequipment3',
       'fequipment4', 'fequipment5', 'fequipment6', 'fequipment9',
       'nequipment9'],
      dtype='object')

### fix number from company's view (positive, customer's expense; negative, company's cost)

In [5]:
df_policy[['Insured_Amount1','Insured_Amount2','Insured_Amount3','Coverage_Deductible_if_applied','Premium','Replacement_cost_of_insured_vehicle','lia_class','plia_acc','pdmg_acc']].describe()

,Insured_Amount1,Insured_Amount2,Insured_Amount3,Coverage_Deductible_if_applied,Premium,Replacement_cost_of_insured_vehicle,lia_class,plia_acc,pdmg_acc
count,1.747942e+06,1.747942e+06,1.747942e+06,1.747942e+06,1.747942e+06,1.747942e+06,1.747942e+06,1.747942e+06,1.747942e+06
mean,4.986729e+05,3.508711e+05,5.308998e+06,2.212304e+01,1.326461e+03,9.417846e+01,5.528931e-01,-2.702499e-01,-1.523599e-01
std,1.186382e+06,1.288439e+06,1.083447e+07,6.322497e+02,3.240886e+03,8.223623e+01,2.101007e+00,2.043537e-01,2.401665e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+05,0.000000e+00,1.000000e+00,-1.000000e+00,-3.800000e-01,-6.000000e-01
25%,0.000000e+00,0.000000e+00,2.000000e+05,0.000000e+00,2.020000e+02,5.790000e+01,-1.000000e+00,-3.800000e-01,-4.000000e-01
50%,0.000000e+00,0.000000e+00,6.110000e+05,0.000000e+00,8.370000e+02,7.090000e+01,-1.000000e+00,-3.800000e-01,0.000000e+00
75%,1.000000e+04,0.000000e+00,4.000000e+06,0.000000e+00,1.339000e+03,9.350000e+01,2.000000e+00,-2.000000e-01,0.000000e+00
max,2.000000e+07,2.400000e+08,2.050000e+08,1.000000e+05,5.049320e+05,8.915000e+03,1.900000e+01,4.700000e+00,4.000000e+00

In [6]:
df1 = df_policy[df_policy['Main_Insurance_Coverage_Group']=='車責']
df2 = df_policy[df_policy['Main_Insurance_Coverage_Group']=='竊盜']
df3 = df_policy[df_policy['Main_Insurance_Coverage_Group']=='車損']

In [7]:
## 'lia_class'車責本期級數   分級1-19 新戶從4開始 出險（+3) 沒有出險 (-1)  
## -1(55%) 0(7.6%) 要怎麼解釋？  

# ----->
# 解1: -1 0 都當作 1 解2: 當成調整項 +10% x lia_class

col = 'lia_class'
print('車責',df1[col].shape) #車責 (1253120,)
print('竊盜',df2[col].shape) #竊盜 (176809,)
print('車損',df3[col].shape) #車損 (318013,)
print('車責', sorted(set(df1[col])))
print('竊盜', sorted(set(df2[col])))
print('車損', sorted(set(df3[col])))

車責 (1253120,)
竊盜 (176809,)
車損 (318013,)
車責 [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
竊盜 [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
車損 [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# for x in sorted(set(df1[col]):
#     print(x, df1[df1['lia_class']== x].shape[0]/df1.shape[0]*100)  
# '''
# (%)
# -1  54.632198033707866 
# 0   7.66486848825332 
# 1   9.491189989785495 
# 2   8.888294816138917
# 3   7.6516215526046985
# 4   8.230975485188969
# 5   1.2548678498467825
# 6   0.8911357252298264
# 7   0.6505362614913177
# 8   0.2353326098059244
# 9   0.16678370786516852
# 10  0.09847420837589378
# 11  0.04365104698672114
# 12  0.0400600102145046
# 13  0.022902834525025534
# 14  0.010852911133810011
# 15  0.009576098059244127
# 16  0.007581077630234934
# 17  0.001995020429009193
# 18  0.0040698416751787534
# 19  0.0030324310520939736
# '''

In [9]:
## 'plia_acc' 車責賠款係數（竊盜）    1+%
col = 'plia_acc'
print('車責',df1[col].shape) #車責 (1253120,)
print('竊盜',df2[col].shape) #竊盜 (176809,)
print('車損',df3[col].shape) #車損 (318013,)
print('車責', sorted(set(df1[col])))
print('竊盜', sorted(set(df2[col])))
print('車損', sorted(set(df3[col])))

車責 (1253120,)
竊盜 (176809,)
車損 (318013,)
車責 [-0.38, -0.34999999999999998, -0.29999999999999999, -0.20000000000000001, -0.10000000000000001, 0.0, 0.10000000000000001, 0.29999999999999999, 0.5, 0.69999999999999996, 0.90000000000000002, 1.2, 1.5, 1.8, 2.1000000000000001, 2.3999999999999999, 2.7999999999999998, 3.2000000000000002, 3.7000000000000002, 4.2000000000000002, 4.7000000000000002]
竊盜 [-0.38, -0.34999999999999998, -0.29999999999999999, -0.20000000000000001, -0.10000000000000001, 0.0, 0.10000000000000001, 0.29999999999999999, 0.5, 0.69999999999999996, 0.90000000000000002, 1.2, 1.5, 1.8, 2.1000000000000001, 2.3999999999999999, 2.7999999999999998, 3.2000000000000002, 3.7000000000000002, 4.2000000000000002, 4.7000000000000002]
車損 [-0.38, -0.34999999999999998, -0.29999999999999999, -0.20000000000000001, -0.10000000000000001, 0.0, 0.10000000000000001, 0.29999999999999999, 0.5, 0.69999999999999996, 0.90000000000000002, 1.2, 1.5, 1.8, 2.1000000000000001, 2.3999999999999999, 2.7999999999999998, 3.2000000000000002, 3.7000000000000002, 4.2000000000000002, 4.7000000000000002]

In [10]:
# for x in sorted(set(df2[col])):
#     print(x, df2[df2[col]== x].shape[0]/df2.shape[0]*100)  
# '''
# (%)
# -0.38 50.20785141027889
# -0.35 8.604765594511592
# -0.3 10.203666102969871
# -0.2 10.056049183016702
# -0.1 9.028386564032374
# 0.0 7.749605506507022
# 0.1 1.4970957360767834
# 0.3 1.0463268272542687
# 0.5 0.8099135225016827
# 0.7 0.2952338399063396
# 0.9 0.1809862620115492
# 1.2 0.12612480133929832
# 1.5 0.061648445497683946
# 1.8 0.062214027566470036
# 2.1 0.019229790338727102
# 2.4 0.01470513378843837
# 2.8 0.015270715857224464
# 3.2 0.00848373103179137
# 3.7 0.0033934924127165473
# 4.2 0.0033934924127165473
# 4.7 0.005655820687860912
# '''

In [11]:
## 'pdmg_acc' 車體賠款係數   1+%
col = 'pdmg_acc'
df1 = df_policy[df_policy['Main_Insurance_Coverage_Group']=='車責']
df2 = df_policy[df_policy['Main_Insurance_Coverage_Group']=='竊盜']
df3 = df_policy[df_policy['Main_Insurance_Coverage_Group']=='車損']
print('車責',df1[col].shape) #車責 (1253120,)
print('竊盜',df2[col].shape) #竊盜 (176809,)
print('車損',df3[col].shape) #車損 (318013,)
print('車責', sorted(set(df1[col])))
print('竊盜', sorted(set(df2[col])))
print('車損', sorted(set(df3[col])))

車責 (1253120,)
竊盜 (176809,)
車損 (318013,)
車責 [-0.59999999999999998, -0.40000000000000002, -0.20000000000000001, 0.0, 0.20000000000000001, 0.40000000000000002, 0.59999999999999998, 0.80000000000000004, 1.0, 1.2, 1.6000000000000001, 2.0, 4.0]
竊盜 [-0.59999999999999998, -0.40000000000000002, -0.20000000000000001, 0.0, 0.20000000000000001, 0.40000000000000002, 0.59999999999999998, 0.80000000000000004, 1.0, 1.2, 2.0, 4.0]
車損 [-0.59999999999999998, -0.40000000000000002, -0.20000000000000001, 0.0, 0.20000000000000001, 0.40000000000000002, 0.59999999999999998, 0.80000000000000004, 1.0, 1.2, 1.6000000000000001, 2.0, 4.0]

In [12]:
# for x in sorted(set(df3[col])):
#     print(x, df3[df3[col]== x].shape[0]/df3.shape[0]*100)  
# '''
# (%)
# -0.6 27.781568678010014
# -0.4 14.449409300877637
# -0.2 10.640759968932088
# 0.0 46.17578526664004
# 0.2 0.6241883193454356
# 0.4 0.2392983934619025
# 0.6 0.05219912393518504
# 0.8 0.01918160578341137
# 1.0 0.010062481722445308
# 1.2 0.00534569341504907
# 1.6 0.0006289051076528318
# 2.0 0.0003144525538264159
# 4.0 0.0012578102153056635
# '''

In [13]:
## Summary: 
# '''
# 'Insured_Amount1'                             : all postive - >negative
# 'Insured_Amount2'                             : all postive - >negative
# 'Insured_Amount3'                             : all postive - >negative
# 'Coverage_Deductible_if_applied'              : -100000 ~ 10000 -> take abs(Positive)
# 'Premium'                                     : all postive - > remain
# 'Replacement_cost_of_insured_vehicle'         : 1 ~ 8915  -> negative
# 'lia_class'                                   : set {-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 
#                                                 11, 12, 13, 14, 15, 16, 17, 18, 19} >10 only 0.16%
#                                                 convert to 1+ (x * 10%)

# 'plia_acc'                                   : set [-0.38, -0.35, -0.3, -0.2, -0.1, 0.0, 0.1, 0.3, 0.5, 0.7, 0.9, 
#                                                     1.2, 1.5, 1.8, 2.1, 2.4, 2.8, 3.2, 3.7, 4.2, 4.7]
#                                                convert to (1+x)%
                                               
# 'pdmg_acc'                                   : set {-0.6, -0.4, -0.2, 0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.6, 2.0, 4.0}
#                                                  convert to (1+x)%                                            
                                                
# '''

In [14]:
neg_col = ['Insured_Amount1','Insured_Amount2','Insured_Amount3','Replacement_cost_of_insured_vehicle']
df_policy[neg_col] = - df_policy[neg_col]
df_policy[neg_col].head()

,Insured_Amount1,Insured_Amount2,Insured_Amount3,Replacement_cost_of_insured_vehicle
0,-2000000.0,-0.0,-10000000.0,-45.4
1,-0.0,-0.0,-300000.0,-45.4
2,-5000000.0,-0.0,-60000000.0,-59.9
3,-0.0,-0.0,-500000.0,-59.9
4,-0.0,-0.0,-65000.0,-39.9

In [15]:
# add Insured_Amount_overall
df_policy['Insured_Amount_overall'] = df_policy['Insured_Amount1'] + df_policy['Insured_Amount2'] + df_policy['Insured_Amount3']
df_policy['Insured_Amount_overall'].head()

0   -12000000.0
1     -300000.0
2   -65000000.0
3     -500000.0
4      -65000.0
Name: Insured_Amount_overall, dtype: float64

In [16]:
df_policy['Cancelled'] = df_policy.apply(lambda row: 1 if row['Coverage_Deductible_if_applied']<0 else 0, axis = 1)
df_policy['Cancelled'].head()

0    0
1    0
2    0
3    0
4    0
Name: Cancelled, dtype: int64

In [17]:
df_policy[df_policy['Coverage_Deductible_if_applied']<0].shape[0]/df_policy.shape[0] * 100 ## 6143 negative -> take abs

0.35144186706423897

In [18]:
## abs 'Coverage_Deductible_if_applied'
df_policy['Coverage_Deductible_if_applied']= [abs(x) for x in df_policy['Coverage_Deductible_if_applied']]
df_policy[df_policy['Coverage_Deductible_if_applied']<0].shape[0]/df_policy.shape[0] * 100

0.0

In [19]:
## lia_class -> l_weight  (convert to 1+ (x * 10%))
df_policy['l_weight'] = 1+ df_policy['lia_class'] * 0.1
df_policy[['lia_class','l_weight']].head()

   lia_class  l_weight
0          3       1.3
1          3       1.3
2          1       1.1
3          1       1.1
4          6       1.6

In [20]:
## plia_acc -> p_weight  (convert to 1+ x))
df_policy['p_weight'] = 1+ df_policy['plia_acc'] 
df_policy[['plia_acc','p_weight']].head()

   plia_acc  p_weight
0      -0.1       0.9
1      -0.1       0.9
2      -0.3       0.7
3      -0.3       0.7
4       0.3       1.3

In [21]:
## pdmg_acc -> pdmg_weight  (convert to 1+ x))
df_policy['pdmg_weight'] = 1+ df_policy['pdmg_acc'] 
df_policy[['pdmg_acc','pdmg_weight']].head()

   pdmg_acc  pdmg_weight
0       0.0          1.0
1       0.0          1.0
2       0.0          1.0
3       0.0          1.0
4       0.0          1.0

In [22]:
# Replace Coverage_Deductible to actual amount 
# check :
# 00I
# 02K
# 04M

# temp = df_policy[df_policy['Insurance_Coverage']=='04M']
# temp_set = sorted(set(temp['Coverage_Deductible_if_applied']))
# for x in temp_set:
#     print (x, temp[temp['Coverage_Deductible_if_applied']== x].shape[0]/temp.shape[0]*100)

In [23]:
replace_code = ['09I','10A','12L','14E','14N','15F','15O','16G','16P','18@','18I','20B','20K','25G','26H','27I',
                '29B','29K','32N','33F','33O', '56K']


df_policy['Coverage_Deductible_if_applied']=df_policy.apply(lambda row: 0 if row['Insurance_Coverage'] in replace_code 
                                                      else row['Coverage_Deductible_if_applied'], axis = 1)
for x in replace_code:
    print(x, set(df_policy[df_policy['Insurance_Coverage'] == x]['Coverage_Deductible_if_applied']))

09I {0}
10A {0}
12L {0}
14E {0}
14N {0}
15F {0}
15O {0}
16G {0}
16P {0}
18@ {0}
18I {0}
20B {0}
20K {0}
25G {0}
26H {0}
27I {0}
29B {0}
29K {0}
32N {0}
33F {0}
33O {0}
56K {0}

In [ ]:
exam =['00I','02K','04M','51O', '68E','05N','14N']
for e in exam:
    print(e, df_policy[df_policy['Insurance_Coverage']==e].shape[0]/df_policy.shape[0] * 100)

00I 0.09250879033743682
02K 0.33302020318751996
04M 3.772608015597772
51O 0.5011607936647783
68E 0.0002288405450524102
05N 6.624304467768381
14N 0.09067806597701755

In [ ]:
percentage_code = ['05N','68E','14N']
df_policy['Coverage_Deductible_if_applied'] = df_policy.apply(
    lambda row: row['Coverage_Deductible_if_applied']* 0.01 if row['Insurance_Coverage'] in percentage_code 
                                                      else row['Coverage_Deductible_if_applied'], axis = 1)
for x in percentage_code:
    print(x, set(df_policy[df_policy['Insurance_Coverage'] == x]['Coverage_Deductible_if_applied']))

In [ ]:
cond1 = df_policy['Insurance_Coverage'] =='00I'
cond2 = df_policy['Insurance_Coverage'] =='02K'
cond3 = df_policy['Insurance_Coverage'] =='51O'
cond4 = cond1| cond2 | cond3

input1 = 1.0      #1;2;3;8000... (1表示3000/5000/7000;  2表示5000/8000;  3表示5000/8000/10000;  
                                #6表示15000; 7表示20000; 8:依條款約定; 其他金額表示每次自負額)
replace1 = 5001
df_policy.loc[cond4,'Coverage_Deductible_if_applied'] = df_policy.loc[cond4,'Coverage_Deductible_if_applied'].replace(input1, replace1) 
df_policy[cond4]['Coverage_Deductible_if_applied'].head()

In [ ]:
cond1 = df_policy['Insurance_Coverage'] =='00I'
cond2 = df_policy['Insurance_Coverage'] =='02K'
cond3 = df_policy['Insurance_Coverage'] =='51O'
cond4 = cond1| cond2 | cond3

input1 = 2.0     #1;2;3;8000... (1表示3000/5000/7000;  2表示5000/8000;  3表示5000/8000/10000;  
                                #6表示15000; 7表示20000; 8:依條款約定; 其他金額表示每次自負額)
replace1 = 6501
df_policy.loc[cond4,'Coverage_Deductible_if_applied'] = df_policy.loc[cond4,'Coverage_Deductible_if_applied'].replace(input1, replace1) 
df_policy[cond4]['Coverage_Deductible_if_applied'].head()

In [ ]:
cond1 = df_policy['Insurance_Coverage'] =='00I'
cond2 = df_policy['Insurance_Coverage'] =='02K'
cond3 = df_policy['Insurance_Coverage'] =='51O'
cond4 = cond1| cond2 | cond3

input1 = 3.0     #1;2;3;8000... (1表示3000/5000/7000;  2表示5000/8000;  3表示5000/8000/10000;  
                                #6表示15000; 7表示20000; 8:依條款約定; 其他金額表示每次自負額)
replace1 = 7667
df_policy.loc[cond4,'Coverage_Deductible_if_applied'] = df_policy.loc[cond4,'Coverage_Deductible_if_applied'].replace(input1, replace1) 
df_policy[cond4]['Coverage_Deductible_if_applied'].sample(5)

In [ ]:
set(df_policy['Coverage_Deductible_if_applied'] )

### deal with weird dbirth

In [ ]:
### examine Drivers
driver = df_policy[['ibirth' , 'dbirth']]
print(driver.shape[0])
driver.head()

In [ ]:
condition1 = driver['ibirth'].isnull()    # 18.2 %
condition2 = driver['dbirth'].isnull()    # 14.8 %

condition3 = driver['ibirth'].notnull()   
condition4 = driver['dbirth'].notnull()   


driver_0N= driver[condition3&condition4]  # both have values  (81.5%)
driver_1N= driver[condition1^condition2]  # missing one (3.9%)
driver_2N= driver[condition1|condition2]  # missing both (18.4%)

print(driver_0N.shape[0]/driver.shape[0])
print(driver_1N.shape[0]/driver.shape[0]) 
print(driver_2N.shape[0]/driver.shape[0])

In [ ]:
# check indiff. in 0N

indiff = driver_0N[driver_0N['ibirth']!=driver_0N['dbirth']]
print(indiff.shape[0])
indiff.sample(10)

In [ ]:
### dbirth has some weird date
### check non-null data & sort
print(driver['dbirth'].notnull().sum())
import datetime
a = df_policy[driver['dbirth'].notnull()]['dbirth']
b = sorted(a, key=lambda x: datetime.datetime.strptime(x, '%m/%Y'), reverse = True)

In [ ]:
replace_date = {
    '09/2658',
 '09/2658',
 '09/2658',
 '09/2658',
 '10/2622',
 '10/2622',
 '10/2622',
 '10/2622',
 '02/2611',
 '02/2611',
 '02/2611',
 '02/2611',
 '02/2611',
 '02/2611',
 '11/2602',
 '11/2602',
 '11/2602',
 '11/2602',
 '11/2602',
 '11/2602',
 '11/2602',
 '11/2602',
 '10/2582',
 '10/2582',
 '10/2582',
 '10/2582',
 '10/2581',
 '10/2581',
 '04/2579',
 '04/2579',
 '04/2579',
 '04/2579',
 '04/2579',
 '04/2579',
 '04/2579',
 '04/2579',
 '04/2579',
 '08/2569',
 '08/2569',
 '08/2569',
 '08/2569',
 '08/2569',
 '10/2521',
 '11/2512',
 '11/2512',
 '11/2512',
 '11/2512',
 '11/2512',
 '01/2512',
 '01/2512',
 '01/2512',
 '01/2512',
 '01/2512',
 '10/2472',
 '10/2472',
 '08/2471',
 '08/2471',
 '08/2471',
 '08/2471',
 '08/2471',
 '11/2464',
 '11/2464',
 '11/2464',
 '03/2464',
 '03/2464',
 '12/2453',
 '12/2453',
 '12/2453',
 '12/2453',
 '01/2442',
 '01/2442',
 '01/2442',
 '01/2442',
 '01/2442',
 '01/2442',
 '07/2280',
 '07/2280',
 '07/2280',
 '07/2280',
 '07/2280',
 '07/2280',
 '07/2280',
 '07/2280',
 '02/2152',
 '02/2152',
 '02/2152',
 '02/2152',
 '02/2152',
 '02/2152',
 '02/2152',
 '02/2152',
 '02/2152'}
len(replace_date)

In [ ]:
replace_date_set = set(replace_date)
len(replace_date_set)

In [ ]:
date_switch = df_policy.apply(lambda row: True if row['dbirth'] in replace_date_set else False, axis = 1)
df_policy_selected = df_policy[date_switch]
print(df_policy_selected.shape[0])
df_policy_selected.head()

In [ ]:
selected_idx = df_policy_selected.index.values
selected_idx

In [ ]:
df_policy_selected_date = df_policy[['ibirth', 'dbirth','fassured']].loc[df_policy_selected.index]
# "1:國內自然人 2:國內法人 3:國外自然人 4:國外法人 5:自然人ID有誤 6:法人ID有誤"
df1 = df_policy_selected_date[df_policy_selected_date['fassured']==1]
df2 = df_policy_selected_date[df_policy_selected_date['fassured']==2]
print(df1.shape[0])
print(df2.shape[0])

In [ ]:
df2.head() ## replace as NaN  (as ibirth)

In [ ]:
df1.head() ## replace as ibirth

In [ ]:
df_policy['ID']=df_policy.index   # create ID column for ref.
df_policy.head()

In [ ]:
### replace weird date as ibirth
df_policy['dbirth_new'] = df_policy.apply(lambda row: row['ibirth'] if row['ID'] in selected_idx 
                                          else row['dbirth'], axis = 1)

In [ ]:
df_policy[['ibirth', 'dbirth', 'fassured','dbirth_new']].loc[selected_idx].sample(10)

In [ ]:
df_policy['dbirth'] = df_policy['dbirth_new']
df_policy = df_policy.drop(['dbirth_new','ID'], axis =1)
df_policy.head()

In [ ]:
print(df_policy.shape)

In [ ]:
## create features from these datetime columns later....

### claim

In [ ]:
#df_claim = pd.read_csv('../Tbrain_Insurance/policy_claim/claim_0702.csv')
print(df_claim.shape)  # 20 items
print('unique:',df_claim['Policy_Number'].nunique()) #35895 unique Policy Number
pd.set_option('display.max_columns', None)  ## show all columns
print(df_claim.columns)
df_claim.head()

In [ ]:
df_claim.nunique()              
# shape(69613, 20)
# unique Policy_Number: 35895

In [ ]:
df_policy_claim = df_policy.merge(df_claim, left_on=['Policy_Number', 'Insurance_Coverage'], 
                                  right_on=['Policy_Number', 'Coverage'], how = 'left').reset_index()
df_policy_claim = df_policy_claim.drop(['index'], axis = 1
                                      )
print('df_policy: ', df_policy.shape)
print('df_claim: ', df_claim.shape)
print('df_policy_claim: ', df_policy_claim.shape)

In [ ]:
## check date format
date_cols = ['ibirth','dbirth','Manafactured_Year_and_Month']
# date_cols = ['DOB_of_Driver','Accident_Date','Accident_Time']

### fill NaN as ('10:01')
df= df_policy_claim

cols = ['Accident_Time']
for col in cols:
    print(df[col].isnull().sum())
    df[col]=df[col].fillna(str('10:01'))
    print(col, df[col].isnull().sum())

### fill NaN as ('09/2018' / '2018/09')
cols = ['ibirth','dbirth','DOB_of_Driver']
for col in cols:
    print(df[col].isnull().sum())
    df[col]=df[col].fillna('09/2018')
    print(col, df[col].isnull().sum())

cols = ['Accident_Date']
for col in cols:
    print(df[col].isnull().sum())
    df[col]=df[col].fillna('2018/09')
    print(col, df[col].isnull().sum())

df.isnull().sum().sum()    

## convert datetime columns to timestamp 
date_col={'ibirth','dbirth','DOB_of_Driver'}
for col in date_col:
    df[col] =  pd.to_datetime(df[col], format='%m/%Y', errors='ignore')  #'%Y-%m-%d %H:%M:%S'   #errors='coerce'

date_col={'Accident_Date'}
for col in date_col:
    df[col] =  pd.to_datetime(df[col], format='%Y/%m',errors='ignore')  #'%Y-%m-%d %H:%M:%S'

date_col={'Accident_Time'}
for col in date_col:
    df[col] =  pd.to_datetime(df[col], format='%H:%M',errors='ignore') #'%Y-%m-%d %H:%M:%S'

date_col={'Manafactured_Year_and_Month'}
for col in date_col:
    df[col] =  pd.to_datetime(df[col], format='%Y', errors='ignore')  #'%Y-%m-%d %H:%M:%S'   #errors='coerce'

df[date_cols].info(verbose= True)

### Extract Features from datetime data then drop datetime64 columns

In [ ]:
df_policy_claim = df

In [ ]:
df.columns

In [ ]:
### vehicles
Cal_year = pd.to_datetime('01/2017', format ='%m/%Y')
daysdiff = Cal_year - df['Manafactured_Year_and_Month']
components = daysdiff.dt.components #  https://stackoverflow.com/questions/18215317/extracting-days-from-a-numpy-timedelta64-value
years = components.days/365
df['V_age'] = years
df['V_age'].head()

## applicant
daysdiff = Cal_year-df['ibirth']
components = daysdiff.dt.components #  https://stackoverflow.com/questions/18215317/extracting-days-from-a-numpy-timedelta64-value
years = components.days/365
df['i_age'] = years
df['i_age'].head()

import math
df['i_age_up'] = df.apply(lambda row: math.ceil(row['i_age']), axis = 1)
df['i_age_mode5'] = df.apply(lambda row: (row['i_age_up']%5), axis = 1)
df['i_age_mode5'].head()

condm= df['fsex'] == 1
condf= df['fsex'] == 2
cond_c1 = df['Main_Insurance_Coverage_Group'] == '竊盜'
cond_c2 = df['Main_Insurance_Coverage_Group'] == '車損'
cond_c3 = df['Main_Insurance_Coverage_Group'] == '車責'
cond_c23 = cond_c2 | cond_c3

## predict premium
# cat 1 sex 1 age 21 26 31 61 -> premium * (92, 63.91304348, 68.02721088, 105)%
# cat 1 sex 2 age 21 26 31 61 -> premium * (92.1686747, 69.28104575,86.79245283,85.86956522)%
# cat 2,3 sex 1 age 21 26 31 61 -> premium * (92.06349206, 66.09195402 ,86.95652174 ,107)%
# cat 2,3 sex 2 age 21 26 31 61 -> premium * (92.35294118, 66.24203822, 86.53846154, 106.6666667)%

In [ ]:
df['Premium_Pred'] = df['Premium']

In [ ]:
## calculate next premium_pred based on sex and ages 
# group 1 sex M all age

age_list = [21,26,31,61]
weight_list = [0.92, 0.6391304348, 0.6802721088, 1.05]

for a in age_list:
    cond_age = df['i_age_up']==a
    cond = cond_c1 & condm & cond_age 
    weight = weight_list[age_list.index(a)]
    df.loc[cond,'Premium_Pred'] = df.loc[cond, 'Premium'] * weight

In [ ]:
## calculate next premium_pred based on sex and ages 
# group 1 sex F all age

age_list = [21,26,31,61]
weight_list = [0.921686747, 0.6928104575, 0.8679245283, 0.8586956522]

for a in age_list:
    cond_age = df['i_age_up']==a
    cond = cond_c1 & condf & cond_age 
    weight = weight_list[age_list.index(a)]
    df.loc[cond,'Premium_Pred'] = df.loc[cond, 'Premium'] * weight

In [ ]:
## calculate next premium_pred based on sex and ages 
# group 23 sex M all age

age_list = [21,26,31,61]
weight_list = [0.9206349206, 0.6609195402 ,0.8695652174 ,1.07]

for a in age_list:
    cond_age = df['i_age_up']==a
    cond = cond_c23 & condm & cond_age 
    weight = weight_list[age_list.index(a)]
    df.loc[cond,'Premium_Pred'] = df.loc[cond, 'Premium'] * weight


## calculate next premium_pred based on sex and ages 
# group 23 sex F all age

age_list = [21,26,31,61]
weight_list = [0.9235294118, 0.6624203822, 0.8653846154, 1.066666667]

for a in age_list:
    cond_age = df['i_age_up']==a
    cond = cond_c23 & condf & cond_age 
    weight = weight_list[age_list.index(a)]
    df.loc[cond,'Premium_Pred'] = df.loc[cond, 'Premium'] * weight

In [ ]:
## driver
daysdiff = Cal_year-df['dbirth']
components = daysdiff.dt.components #  https://stackoverflow.com/questions/18215317/extracting-days-from-a-numpy-timedelta64-value
years = components.days/365
df['d_age'] = years
df['d_age'].head()

### driver
daysdiff = Cal_year-df['DOB_of_Driver']
components = daysdiff.dt.components #  https://stackoverflow.com/questions/18215317/extracting-days-from-a-numpy-timedelta64-value
years = components.days/365
df['Dr_age'] = years
df['Dr_age'].head()

# set(df_claim['Accident_Date'])  # between 2015/01 -> 2016/12    24months

daysdiff = Cal_year-df['Accident_Date']
components = daysdiff.dt.components #  https://stackoverflow.com/questions/18215317/extracting-days-from-a-numpy-timedelta64-value
months = components.days/30
df['Accident_Month_ago'] = months
df['Accident_Month_ago'].sample(10)

from datetime import datetime, date
df['Acc_DayOfWeek'] = df.apply(lambda row: row['Accident_Date'].weekday(), axis =1)
df['Acc_DayOfWeek'][:5]  

daysdiff = Cal_year-df['Accident_Time']
components = daysdiff.dt.components #  https://stackoverflow.com/questions/18215317/extracting-days-from-a-numpy-timedelta64-value
hours = components.hours
df['Accident_Hour'] = hours
df['Accident_Hour'].sample(10)

drop_date_cols = ['ibirth', 'dbirth', 'DOB_of_Driver','Accident_Date', 
                  'Accident_Time','Manafactured_Year_and_Month']
df = df.drop (drop_date_cols, axis = 1)

print(df.shape)

In [ ]:
df_policy_claim = df
df_policy_claim.sample(5)

In [ ]:
df_policy_claim.nunique()

In [ ]:
# check missing percentage:
df_policy_claim.isnull().sum()/df_policy_claim.shape[0] * 100  # prior_Policy_Number  18.8 cancelled

In [ ]:
# same_cols=["Insured's_ID", 'Prior_Policy_Number', 'Cancellation',
#        'Vehicle_identifier', 'Vehicle_Make_and_Model1',
#        'Vehicle_Make_and_Model2', 'Manafactured_Year_and_Month',
#        'Engine_Displacement_(Cubic_Centimeter)', 'Imported_or_Domestic_Car',
#        'Coding_of_Vehicle_Branding_&_Type', 'qpt', 'fpt',
#        'Replacement_cost_of_insured_vehicle', 'Distribution_Channel',
#        'Multiple_Products_with_TmNewa_(Yes_or_No?)', 'lia_class', 'plia_acc',
#        'pdmg_acc', 'fassured', 'ibirth', 'fsex', 'fmarriage', 'aassured_zip',
#        'iply_area', 'dbirth', 'fequipment1', 'fequipment2', 'fequipment3',
#        'fequipment4', 'fequipment5', 'fequipment6', 'fequipment9',
#        'nequipment9']

# diff_cols=['Main_Insurance_Coverage_Group', 'Insurance_Coverage',
#        'Insured_Amount1', 'Insured_Amount2', 'Insured_Amount3','Coverage_Deductible_if_applied', 'Premium']

In [ ]:
# Nature_of_the_claim	1.賠付 2.追償
# Salvage_or_Subrogation? 追償金額 (Nature_of_the_claim 才有值)
# Driver's_Replationship_with_Insured "1:被保險人本人 2:被保險人親友 3:被保險人員工 4:租用被保險車輛 5:其他, 6:配偶, 7:子女"

## Create Features from diff_cols

In [ ]:
# Main_Insurance_Coverage_Group	險種分類 Insurance_Coverage	險種代碼 Insured_Amount1	保額一 Insured_Amount2	保額二 
# Insured_Amount3	保額三 Coverage_Deductible_if_applied	自負額 Premium	簽單保費

In [ ]:
# Segment these: so we can create features for this
segment=['Cancellation','Imported_or_Domestic_Car','qpt','Main_Insurance_Coverage_Group',
         'Insurance_Coverage','fassured','fsex','fmarriage','iply_area',   ##policy-claim
         'Nature_of_the_claim',"Driver's_Gender","Driver's_Relationship_with_Insured",'Marital_Status_of_Driver',
         'Cause_of_Loss','Claim_Status_(close,_open,_reopen_etc)','Coverage']

df = df_policy_claim
# get dummy on these columns (for those annon id columns, convert to label first (one-hot))
print('Shape of data before one-hot : {}'.format(df.shape))
# 1. one-hot encode:

cols = ['iply_area','Cause_of_Loss']
# process columns, apply LabelEncoder to categorical features
from sklearn.preprocessing import LabelEncoder
for c in cols:
    lbl = LabelEncoder() 
    lbl.fit(list(df[c].values)) 
    df[c] = lbl.transform(list(df[c].values))    
print('Shape of data after one-hot : {}'.format(df.shape))

# 2. get dummy :
df = df
df_dummy = pd.get_dummies(df, columns=segment)
print('Shape of data after get dummy : {}'.format(df_dummy.shape))
df_dummy.head()

In [ ]:
# print(df_dummy.columns[:60])
# print(df_dummy.columns[60:120])
# print(df_dummy.columns[120:180])
# print(df_dummy.columns[180:240])
# print(df_dummy.columns[240:])

In [ ]:
## columns
index_col = ['Policy_Number']

first_cols=['Cancellation_ ', 'Cancellation_Y','Imported_or_Domestic_Car_10',
       'Imported_or_Domestic_Car_20', 'Imported_or_Domestic_Car_21','Imported_or_Domestic_Car_22', 
            'Imported_or_Domestic_Car_23','Imported_or_Domestic_Car_24', 'Imported_or_Domestic_Car_30',
       'Imported_or_Domestic_Car_40', 'Imported_or_Domestic_Car_50','Imported_or_Domestic_Car_90',
            'qpt_2.0', 'qpt_3.0', 'qpt_4.0', 'qpt_5.0', 'qpt_6.0', 'qpt_7.0', 'qpt_8.0', 'qpt_9.0', 
            'qpt_11.0','qpt_12.0', 'qpt_13.0', 'qpt_17.0', 'qpt_18.0', 'qpt_19.0', 'qpt_20.0',
       'qpt_21.0','qpt_22.0', 'qpt_23.0', 'qpt_24.0','fassured_1',
       'fassured_2', 'fassured_3', 'fassured_6', 'fsex_ ', 'fsex_1', 'fsex_2',
       'fmarriage_ ', 'fmarriage_1', 'fmarriage_2', 'iply_area_0',
       'iply_area_1', 'iply_area_2', 'iply_area_3', 'iply_area_4',
       'iply_area_5', 'iply_area_6', 'iply_area_7', 'iply_area_8',
       'iply_area_9', 'iply_area_10', 'iply_area_11', 'iply_area_12',
       'iply_area_13', 'iply_area_14', 'iply_area_15', 'iply_area_16',
       'iply_area_17', 'iply_area_18', 'iply_area_19', 'iply_area_20',
       'iply_area_21','fequipment1','fequipment2','fequipment3','fequipment4','fequipment5',
            'fequipment6','fequipment9','nequipment9','Engine_Displacement_(Cubic_Centimeter)',
            'Replacement_cost_of_insured_vehicle','Distribution_Channel',
            'Multiple_Products_with_TmNewa_(Yes_or_No?)','lia_class','plia_acc','pdmg_acc',
            'aassured_zip','l_weight', 'p_weight', 'pdmg_weight', 
           'At_Fault?','Marital_Status_of_Driver_1.0','Marital_Status_of_Driver_2.0',
              "Driver\'s_Gender_1.0","Driver\'s_Gender_2.0", "Driver\'s_Relationship_with_Insured_1.0",
            "Driver\'s_Relationship_with_Insured_2.0", "Driver\'s_Relationship_with_Insured_3.0",
            "Driver\'s_Relationship_with_Insured_4.0","Driver\'s_Relationship_with_Insured_5.0", 
            "Driver\'s_Relationship_with_Insured_6.0", "Driver\'s_Relationship_with_Insured_7.0"]


sum_cols = ['Insured_Amount1','Insured_Amount2', 'Insured_Amount3','Insured_Amount_overall', 'Main_Insurance_Coverage_Group_竊盜',
       'Main_Insurance_Coverage_Group_車損', 'Main_Insurance_Coverage_Group_車責',
       'Insurance_Coverage_00I', 'Insurance_Coverage_01A',
       'Insurance_Coverage_01J', 'Insurance_Coverage_02K',
       'Insurance_Coverage_03L', 'Insurance_Coverage_04M',
       'Insurance_Coverage_05E', 'Insurance_Coverage_05N',
       'Insurance_Coverage_06F', 'Insurance_Coverage_07P',
       'Insurance_Coverage_08H', 'Insurance_Coverage_09@',
       'Insurance_Coverage_09I', 'Insurance_Coverage_10A',
       'Insurance_Coverage_12L', 'Insurance_Coverage_14E',
       'Insurance_Coverage_14N', 'Insurance_Coverage_15F',
       'Insurance_Coverage_15O', 'Insurance_Coverage_16G',
       'Insurance_Coverage_16P', 'Insurance_Coverage_18@',
       'Insurance_Coverage_18I', 'Insurance_Coverage_20B',
       'Insurance_Coverage_20K', 'Insurance_Coverage_25G',
       'Insurance_Coverage_26H', 'Insurance_Coverage_27I',
       'Insurance_Coverage_29B', 'Insurance_Coverage_29K',
       'Insurance_Coverage_32N', 'Insurance_Coverage_33F',
       'Insurance_Coverage_33O', 'Insurance_Coverage_34P',
       'Insurance_Coverage_35H', 'Insurance_Coverage_36I',
       'Insurance_Coverage_37J', 'Insurance_Coverage_40M',
       'Insurance_Coverage_41E', 'Insurance_Coverage_41N',
       'Insurance_Coverage_42F', 'Insurance_Coverage_45@',
       'Insurance_Coverage_46A', 'Insurance_Coverage_47B',
       'Insurance_Coverage_51O', 'Insurance_Coverage_55J',
       'Insurance_Coverage_56B', 'Insurance_Coverage_56K',
       'Insurance_Coverage_57C', 'Insurance_Coverage_57L',
       'Insurance_Coverage_65K', 'Insurance_Coverage_66C',
       'Insurance_Coverage_66L', 'Insurance_Coverage_67D',
       'Insurance_Coverage_68E', 'Insurance_Coverage_68N',
       'Insurance_Coverage_70G', 'Insurance_Coverage_70P',
       'Insurance_Coverage_71H', 'Insurance_Coverage_72@','Premium', 'Premium_Pred',  # policy_claim
           'Paid_Loss_Amount','paid_Expenses_Amount','Salvage_or_Subrogation?', 
           'Deductible', 'number_of_claimants', 'Coverage_00I',
            'Coverage_01A', 'Coverage_02K', 'Coverage_03L', 'Coverage_04M',
            'Coverage_05E', 'Coverage_05N', 'Coverage_06F', 'Coverage_07P',
       'Coverage_08H', 'Coverage_09@', 'Coverage_10A', 'Coverage_12L',
       'Coverage_14E', 'Coverage_14N', 'Coverage_15F', 'Coverage_15O',
       'Coverage_16G', 'Coverage_16P', 'Coverage_18@', 'Coverage_18I',
       'Coverage_20B', 'Coverage_20K', 'Coverage_25G', 'Coverage_26H',
       'Coverage_29B', 'Coverage_29K', 'Coverage_32N', 'Coverage_33F',
       'Coverage_33O', 'Coverage_34P', 'Coverage_35H', 'Coverage_36I',
       'Coverage_40M', 'Coverage_41E', 'Coverage_41N', 'Coverage_42F',
       'Coverage_45@', 'Coverage_46A', 'Coverage_51O', 'Coverage_55J',
       'Coverage_56B', 'Coverage_56K', 'Coverage_57C', 'Coverage_57L',
       'Coverage_66L', 'Coverage_70G', 'Coverage_70P',
             'Cause_of_Loss_0', 'Cause_of_Loss_1',
       'Cause_of_Loss_2', 'Cause_of_Loss_3', 'Cause_of_Loss_4',
       'Cause_of_Loss_5', 'Cause_of_Loss_6', 'Cause_of_Loss_7',
       'Cause_of_Loss_8', 'Cause_of_Loss_9', 'Cause_of_Loss_10',
       'Cause_of_Loss_11', 'Cause_of_Loss_12', 'Cause_of_Loss_13',
       'Cause_of_Loss_14', 'Cause_of_Loss_15', 'Cause_of_Loss_16','Nature_of_the_claim_1.0',
       'Nature_of_the_claim_2.0','Claim_Status_(close,_open,_reopen_etc)_0.0',
            'Claim_Status_(close,_open,_reopen_etc)_1.0']



count_cols = ['Prior_Policy_Number','Claim_Number']

mean_cols =['Insured_Amount1','Insured_Amount2', 'Insured_Amount3','Insured_Amount_overall',  
            'Cancelled', 'Coverage_Deductible_if_applied','Premium',  ## policy_claim
           'Paid_Loss_Amount','paid_Expenses_Amount','Salvage_or_Subrogation?', 
           'Deductible','number_of_claimants']

In [ ]:
print('Shape of data after get dummy : {}'.format(df_dummy.shape))

In [ ]:
#first
df_policy_claim_grouped_first = df_dummy.groupby(index_col)[first_cols].first().reset_index()
print('unique:',df_policy_claim[index_col].nunique()) 
print(df_policy_claim_grouped_first.shape)  # == 351,273 unique Policy Number
df_policy_claim_grouped_first.head()

In [ ]:
# sum
df_policy_claim_grouped_sum = df_dummy.groupby(index_col)[sum_cols].sum().reset_index()
print('unique:',df_policy_claim[index_col].nunique()) 
print(df_policy_claim_grouped_sum.shape)  # == 351,273 unique Policy Number
df_policy_claim_grouped_sum.head()

In [ ]:
# count
df_policy_claim_grouped_count = df_dummy.groupby(index_col)[count_cols].count().reset_index()
print('unique:',df_policy_claim[index_col].nunique()) 
print(df_policy_claim_grouped_count.shape)  # == 351,273 unique Policy Number
df_policy_claim_grouped_count.head()

In [ ]:
# mean
df_policy_claim_grouped_mean = df_dummy.groupby(index_col)[mean_cols].mean().reset_index()
print('unique:',df_policy_claim[index_col].nunique()) 
print(df_policy_claim_grouped_mean.shape)  # == 351,273 unique Policy Number
df_policy_claim_grouped_mean.head()

### training & testing

In [ ]:
print(df_training.shape)
print('unique:',df_training['Policy_Number'].nunique()) #210763 unique Policy Number
df_training.head()

In [ ]:
df_training[df_training['Next_Premium']==100]  # if Next_Premium = 100 -> testing_set

In [ ]:
print(df_testing.shape)
print('unique:',df_testing['Policy_Number'].nunique()) #140510 unique Policy Number
df_testing.head()

In [ ]:
a=df_training['Policy_Number'].nunique()/df_policy['Policy_Number'].nunique()*100
b=df_testing['Policy_Number'].nunique()/df_policy['Policy_Number'].nunique()*100
print('training set (pct)  %f '%a)
print('testing set (pct)  %f '%b)

## 1. Combine policy & claim & training & testing

In [ ]:
df_all= pd.concat([df_training, df_testing])
print('unique:',df_policy['Policy_Number'].nunique()) 
print('all data columns', df_all.columns)
print('all data shape', df_all.shape)   #351,273 unique Policy Number

### Map features (on Policy Number )

In [ ]:
df_policy_claim_grouped_first.head()

In [ ]:
## all = all+ first
print(df_all.shape)

df=df_policy_claim_grouped_first #
print(df.shape)
df_all= df_all.merge(df, how='left', on ='Policy_Number', suffixes=('', '_first'))#
print(df_all.shape)
df_all.head()

In [ ]:
## all = all+ count 
print(df_all.shape)

df=df_policy_claim_grouped_count #
print(df.shape)
df_all= df_all.merge(df, how='left', on ='Policy_Number', suffixes=('', '_count'))#
print(df_all.shape)
df_all.head()

In [ ]:
## all = all+ sum
print(df_all.shape)

df=df_policy_claim_grouped_sum #
print(df.shape)
df_all= df_all.merge(df, how='left', on ='Policy_Number', suffixes=('', '_sum'))#
print(df_all.shape)
df_all.head()

In [ ]:
## all = all+ mean
print(df_all.shape)

df=df_policy_claim_grouped_mean #
print(df.shape)
df_all= df_all.merge(df, how='left', on ='Policy_Number', suffixes=('', '_mean'))#
print(df_all.shape)
df_all.head()

In [ ]:
# print(df_all.columns[:60])
# print(df_all.columns[60:120])
# print(df_all.columns[120:180])
# print(df_all.columns[180:240])
# print(df_all.columns[240:])

In [ ]:
condition1= df_all['Claim_Number']==0
condition2= df_all['Claim_Number']!=0
print(condition1.sum())
print(condition2.sum())

In [ ]:
### add claim (0 False,1 True)
df_all['claim']=df_all['Claim_Number']
df_all['claim'].loc[condition1]=0
df_all['claim'].loc[condition2]=1
print(df_all[df_all['claim']==0].shape)
df_all['claim'].head()

### 1.1 check missing data

In [ ]:
# missing % percentage
cond = df_all.isnull().sum()!=0
print((df_all.isnull().sum()[cond]/df_all.shape[0]*100))

In [ ]:
# fillna as ???
df= df_all


## fill na as -1 ( becasue 0 means something else)
fill_special_cols =['At_Fault?', 'Paid_Loss_Amount','Paid_Loss_Amount_mean', 
                    'paid_Expenses_Amount', 'paid_Expenses_Amount_mean',
       'Salvage_or_Subrogation?','Salvage_or_Subrogation?_mean',
       'Deductible', 'Deductible_mean']


cols = fill_special_cols
for col in cols:
    df[col]=df[col].fillna(-1)
    print(col, df[col].isnull().sum())

# fill na as 0 (Check explaination document, those 0 doesn't mean anything)
fill_0_cols =['number_of_claimants','number_of_claimants_mean']

cols = fill_0_cols
for col in cols:
    df[col]=df[col].fillna(0)
    print(col, df[col].isnull().sum())
    

# check 
cond = df_all.isnull().sum()!=0
print((df_all.isnull().sum()[cond]/df_all.shape[0]*100))

In [ ]:
### fill NaN as (today)

# df= df_all
# cols = ['ibirth','dbirth','DOB_of_Driver','Accident_Date','Accident_Time']
# for col in cols:
#     df[col]=df[col].fillna(0)
#     print(col, df[col].isnull().sum())

In [ ]:
# check 
cond = df_all.isnull().sum()!=0
print((df_all.isnull().sum()[cond]/df_all.shape[0]*100))

In [ ]:
df_all = df

### 1.2 Label Encoder: convert anon id to No.

In [ ]:
pd.set_option('display.max_columns', None)  ## show all columns
print(df_all.shape)
df_all[df_all['claim']==1].info()

In [ ]:
# Policy_Number                                 object   # keep

# nequipment9                                   object   # why?  (weird text input - replace)

# Distribution_Channel                          object   # one-hot

# ibirth                                        object   # datetime
# dbirth                                        object   # datetime
# aassured_zip                                  object   # one-hot

# Accident_Date                                 object   # datetime
# DOB_of_Driver                                 object   # datetime
# Accident_Time                                 object   # datetime

# dtypes: object(9)

In [ ]:
df = df_all

## do not include:  Vehicle_identifier_Claim	車牌  (map to Vehicle_identifier)
cols = ['Distribution_Channel','aassured_zip']


# process columns, apply LabelEncoder to categorical features
from sklearn.preprocessing import LabelEncoder
for c in cols:
    lbl = LabelEncoder() 
    lbl.fit(list(df[c].values)) 
    df[c] = lbl.transform(list(df[c].values))

# shape        
print('Shape of data: {}'.format(df.shape))
df.head()

In [ ]:
df_all =df
print('Before replacemet:', set(df_all['nequipment9']))

#replace weird input to specific Answer 
input1 = ' '
replace1 = 0
df_all['nequipment9']=df_all['nequipment9'].replace(input1, replace1) 
input1 = '                                                                                                    '
replace1 = 0
df_all['nequipment9']=df_all['nequipment9'].replace(input1, replace1) 
input1 = '5合1影音'
replace1 = 1
df_all['nequipment9']=df_all['nequipment9'].replace(input1, replace1) 
input1 = '伸尾                                                                                                '
replace1 = 1
df_all['nequipment9']=df_all['nequipment9'].replace(input1, replace1)
input1 = '原裝車含配備'
replace1 = 1
df_all['nequipment9']=df_all['nequipment9'].replace(input1, replace1)
input1 = '大包'
replace1 = 1
df_all['nequipment9']=df_all['nequipment9'].replace(input1, replace1)

print('Aftere replacemet:', set(df_all['nequipment9']))

In [ ]:
### Already dropped
### encode 'Vehicle_identifier_Claim' (NaN: NaN, not NaN: 'Vehicle_identifier' )
# df = df_all
# condition1 = df['Vehicle_identifier_Claim'].isnull()
# condition2 = df['Vehicle_identifier_Claim'].notnull()

# df['Vehicle_identifier_Claim'][condition1]=df['Vehicle_identifier_Claim']
# df['Vehicle_identifier_Claim'][condition2]=df['Vehicle_identifier']

#df[['Policy_Number','Vehicle_identifier','Vehicle_identifier_Claim']].sample(5)

In [ ]:
df_all = df

### 1.3 Get dummy

In [ ]:
# ### Getting dummy categorical features:
# df = df_all
# segment=['Cancellation','Imported_or_Domestic_Car','qpt','fpt','Main_Insurance_Coverage_Group','Insurance_Coverage',
#          'fassured', 'fsex','fmarriage','iply_area', 'fequipment1','fequipment2','fequipment3','fequipment4',
#          'fequipment5','fequipment6','fequipment9','nequipment9','Nature_of_the_claim',"Driver's_Gender",
#          "Driver's_Relationship_with_Insured", 'Marital_Status_of_Driver', 'Cause_of_Loss']
# df_dummy = pd.get_dummies(df, columns=segment)
# print(df_dummy.shape)
# df_dummy.head()

### 1.4 convert object (date) to datetime format

### 1.5 convert object (string) to numeric

In [ ]:
df_all.info()

## 2. Define Train, Test, Y

In [ ]:
df_all.isnull().sum().sum()

In [ ]:
df = df_all

df_train = df[df['Next_Premium']!=100]
print(df_train.shape)
df_test = df[df['Next_Premium']==100]
print(df_test.shape)
print(df_train.shape[0]+df_test.shape[0])
print(df.shape[0])

In [ ]:
df.isnull().sum().sum()

In [ ]:
y=df_train['Next_Premium']
y.head()

In [ ]:
df_train=df_train.drop(['Next_Premium'], axis=1)
print(df_train.shape)

In [ ]:
train_ID = df_train['Policy_Number']
df_train=df_train.drop(['Policy_Number'], axis=1)
print(df_train.shape)
print(train_ID.shape)

In [ ]:
df_test=df_test.drop(['Next_Premium'], axis=1)
print(df_test.shape)

In [ ]:
test_ID=df_test['Policy_Number']
df_test=df_test.drop(['Policy_Number'], axis=1)
print(df_test.shape)
print(test_ID.shape)

## Reduce Dimension

In [ ]:
# sklearn.discriminant_analysis.LinearDiscriminantAnalysis
from sklearn.decomposition import PCA 
# ......

### Modelling

In [ ]:
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb
import lightgbm as lgb

In [ ]:
train = df_train
test = df_test
y_train = y

In [ ]:
drop_cols =['Premium']
train = train.drop(drop_cols, axis = 1)
test = test.drop(drop_cols, axis = 1)

In [ ]:
# ## downsampling for testing:
# train = df_train.head(50000) # 1,212,659
# y_train = y.head(50000)
# ## downsampling for testing:
# test=df_test.head(3000)   #776,268

In [ ]:
# train.to_csv('train.csv')
# test.to_csv('test.csv')
# y.to_csv('y.csv')

In [ ]:
#Validation function
n_folds = 5

def mae_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(train.values)
    mae= (-cross_val_score(model, train.values, y_train.values, scoring="neg_mean_absolute_error", cv = kf))
    return(mae)

In [ ]:
# Base models

In [ ]:
# LGBM :
model_lgb = lgb.LGBMRegressor(objective='regression')
mae = mae_cv(model_lgb)
print("lgb mae: \n", mae)
print("lgb score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [ ]:
'''lgb mae: 
 [ 1593.77929988  2850.00509668  2537.47476871  2521.03881446  2103.63560134]
lgb score: 2321.1867 (434.2396)'''

In [ ]:
# '''
# lgb mae: 
#  [ 1501.23043208  2595.38487591  2334.24177316  2318.40761041  1971.9493555 ]
# lgb score: 2144.2428 (377.6538)
# '''

In [ ]:
# XGBoost :
model_xgb = xgb.XGBRegressor() #n_estimators=200
mae = mae_cv(model_xgb)
print("Xgboost mae: \n", mae)
print("Xgboost score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [ ]:
# '''
# Xgboost mae: 
#  [ 1553.09530469  2401.15759272  2177.35396934  2174.6915555   1881.35674227]
# Xgboost score: 2037.5310 (293.1403)
# '''

In [ ]:
# RF :
model_rf=RandomForestRegressor(n_estimators=20)
mae = mae_cv(model_rf)
print("RandomForest mae: \n", mae)
print("\nRandomForest score: {:.4f} ({:.4f})\n".format(mae.mean(), mae.std()))

In [ ]:
# '''
# RandomForest mae: 
#  [ 1550.90146598  2462.00879027  2237.7326891   2258.35016851  1942.53006033]

# RandomForest score: 2090.3046 (316.5222)
# '''

In [ ]:
## fit model & predict

In [ ]:
model_lgb.fit(train, y)
y_pred_lgb = model_lgb.predict(test)
y_pred_lgb[:10]

In [ ]:
model = model_lgb
import matplotlib.pyplot as plt

importances = model.feature_importances_
std = np.std([tree.feature_importances_ for tree in model.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(train.shape[1]):
    print("%d. feature %d.: %str (%2f)" % (f + 1, indices[f], train.columns[indices[f]], importances[indices[f]]*100))

# Plot the feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(train.shape[1]), importances[indices],
       color="r", yerr=std[indices], align="center")
plt.xticks(range(train.shape[1]), indices)
plt.xlim([-1, train.shape[1]])
plt.show()

In [ ]:
model_xgb.fit(train, y)
y_pred_xgb = model_xgb.predict(test)
y_pred_xgb[:10]

In [ ]:
model = model_xgb
import matplotlib.pyplot as plt

importances = model.feature_importances_
std = np.std([tree.feature_importances_ for tree in model.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(train.shape[1]):
    print("%d. feature %d.: %str (%2f)" % (f + 1, indices[f], train.columns[indices[f]], importances[indices[f]]*100))

# Plot the feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(train.shape[1]), importances[indices],
       color="r", yerr=std[indices], align="center")
plt.xticks(range(train.shape[1]), indices)
plt.xlim([-1, train.shape[1]])
plt.show()

In [ ]:
model_rf.fit(train, y)
y_pred_rf = model_rf.predict(test)
y_pred_rf[:10]

In [ ]:
import matplotlib.pyplot as plt

importances = model_rf.feature_importances_
std = np.std([tree.feature_importances_ for tree in model_rf.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for f in range(train.shape[1]):
    print("%d. feature %d.: %str (%2f)" % (f + 1, indices[f], train.columns[indices[f]], importances[indices[f]]*100))

# Plot the feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(train.shape[1]), importances[indices],
       color="r", yerr=std[indices], align="center")
plt.xticks(range(train.shape[1]), indices)
plt.xlim([-1, train.shape[1]])
plt.show()

In [ ]:
## prep submission

In [ ]:
lg = 0.1
x = .8
r = 1 - lg - x
y_pred_lgb = pd.DataFrame(y_pred_lgb)
y_pred_xgb = pd.DataFrame(y_pred_xgb)
y_pred_rf = pd.DataFrame(y_pred_rf)
y_pred = lg*y_pred_lgb + x*y_pred_xgb + r*y_pred_rf
all_y = pd.concat([y_pred, y_pred_lgb, y_pred_xgb, y_pred_rf], axis=1)
all_y.columns=['Final', 'lgb','xgb','rf']
all_y.sample(10)

In [ ]:
all_y.describe()

In [ ]:
a = all_y[all_y['Final']<0].shape[0]/all_y.shape[0]*100
print("negative prediction (Percent): %2f"%a)

In [ ]:
condition1 = all_y['Final']<0
all_y['Final'].loc[condition1] = 0
all_y[all_y['Final']<0]

In [ ]:
all_y.describe()

In [ ]:
print(df_testing.shape)
print(test_ID.shape)
print(y_pred.shape)

In [ ]:
df = pd.DataFrame(test_ID).reset_index()
df['Next_Premium'] = all_y['Final']
df = df_testing.merge(df, how = 'left', on = 'Policy_Number', suffixes=('_x','_y'))
df=df.drop(['index','Next_Premium_x'], axis = 1)
df.columns = df_testing.columns
df.head()

In [ ]:
#save to csv
df.to_csv('testing-set.csv',index = False)